[2022-06-08 19:56] jmbowman commented on #295
We think we figured out where the process broke down to send those emails, and manually triggered them about 40 minutes ago.  Please let me know if they still haven't arrived.

[2022-06-08 20:05] regisb opened #299 "[GH Request] Asking edx-community-bot to merge pull requests does not work anymore (for me)"
### Firm Name

Overhang.IO

### Urgency

Medium: it would be great if we had a way to easily backport fixes to nutmeg in the coming weeks

### Requested Change

In the past, I could merge pull requests made on the "open-release/xxx.master" release branches by adding a comment: `@edx-community-bot merge`. This no longer seems to be the case, as indicated in the following PRs:

https://github.com/op

[2022-06-08 20:31] hurtstotouchfire opened #300 "[GH Request] Enable Issues on Credentials"
### Firm Name

2U

### Urgency

moderate -- I'm blocked.

### Requested Change

For some reason I was able to just enable Issues on credentials-themes myself, but I can't do it on https://github.com/openedx/credentials, which is more what I was expecting.

### Reasoning

I'm using github issues to log known bugs for repos my team maintains.

[2022-06-08 21:50] e0d commented on #295
I received them and have added them to Salesforce.  I really think we need to advance the automation of on-boarding/off-boarding from the 2U side.  Some improvements I can see:

- Getting the data in a structured format so it can be automatically added to Salesforce
- Not getting data about people that aren't actually covered by the CLA.

Perhaps the easiest path there is:
- 2U manage a repo that

[2022-06-09 00:46] jmbowman commented on #295
Thanks for the suggestions; the current process isn't great on our end either, especially after some of the post-acquisition IT migrations.  I'm in the middle of working with a few people to document what we're doing right now and make a few improvements.

[2022-06-09 06:17] pkulkark commented on #292
Thank you @arbrandes!

[2022-06-09 12:24] dianakhuang opened #301 "Archive DEPR project on Jira"
Since we have moved all of our DEPR tickets to GitHub, we should disallow new DEPR tickets from being created on Jira.

[2022-06-09 13:05] TanahaRG opened #302 "[GH Request] Unreachable docs in the Maple Release"
### Firm Name

RG

### Urgency

Low

### Problem/Request

IIn the Maple Release Notes the link lead to the restricted page. The page should be open.

There is a link to the readthedocs https://edx.readthedocs.io/projects/open-edx-release-notes/en/latest/maple.html#course-authoring-import-messaging-validation

There is a restricted page https://openedx.atlassian.net/wiki/spaces/PT/pages/2594275334/

[2022-06-09 14:47] arbrandes commented on #282
edx-platform review pass is done.  I'll handle the others in separate tasks.

[2022-06-09 15:49] #282 closed

[2022-06-09 15:52] #280 closed

[2022-06-09 18:39] jmbowman opened #303 "[GH Request] frontend-wg triage access for fed-bom team"
### Firm Name

2U

### Urgency

Medium Urgency - slowing down development

### Requested Change

Please grant "triage" access to the frontend-wg repository to the fed-bom GitHub team.

### Reasoning

The members of the FED-BOM team at Arbisoft/2U are working on a lot of issues in that repository, and are currently unable to assign issues to themselves or make other minor updates to those issues.

[2022-06-09 19:24] jmakowski1123 opened #304 "Draft MFE Roadmap Document"
AC: To draft a first pass at an MFE roadmap.

This work will be informed by the work completed in the MFE Discovery Initiative: https://github.com/openedx/tcril-engineering/issues/146

Children of this epic:

- [x] #283
- [x] #284
- [ ] #335
- [ ] Circulate to the MFE working group for feedback

[2022-06-09 19:27] jmakowski1123 opened #305 "Create a backlog of "good introductory tasks" to onboard a new MFE contractor"
This backlog will include #https://github.com/openedx/frontend-app-library-authoring/issues/71 and others

Noting that there are complexities in this issue as it requires feedback loops and communication with Jeremy/2U engineers to discover points of alignment in similar backlog they may be building.

[2022-06-09 19:53] #89 closed

[2022-06-09 19:54] #251 closed

[2022-06-09 20:14] jmakowski1123 opened #306 "Nutmeg blog post - smol things round up"
May want to break into 2-3 smaller posts. https://docs.google.com/document/d/10CEUDMHF0qSbC3N4-_YMjWuDVVI1WGOXTxvWaKa78wA/edit

[2022-06-09 20:14] jmakowski1123 opened #307 "Nutmeg blog post - MFE updates"

[2022-06-09 20:54] jmakowski1123 opened #308 "Create a strategy doc for a testable first phase of calls for contribution"

[2022-06-09 20:54] jmakowski1123 opened #309 "Create a Board to track contributions"

[2022-06-09 21:37] moconnell1453 opened #310 "[GH Request] Onboard <user or users>"
### Firm Name

2U

### User List

bilaltahir21

### Start Date

05/24/2022

### Urgency

high

### Special Requests

_No response_

[2022-06-10 16:43] ormsbee commented on #276
This is taking longer than expected because I could not for the life of me get PII to actually transmit across the wire (despite being prompted by the LMS as to whether I wanted to share my username and email). So I'm stepping through it in a debugger locally on Tutor with Nutmeg.

[2022-06-10 17:08] Carlos-Muniz opened #311 "Expose PYTHONBREAKPOINT in Tutor as good first issue"
https://github.com/overhangio/2u-tutor-adoption/issues/45

[2022-06-10 17:19] #236 closed

[2022-06-10 17:23] feanil commented on #275
The ticket is marked as done on the tCRIL board, should this also get closed?

[2022-06-10 17:24] ormsbee commented on #254
Countries:

* Cuba
* Iran
* North Korea
* Crimea, Donetsk, and Luhansk regions of Ukraine
* Maybe Syria - (still confirming this one)
* Government of Venezuela (anyone registering with their government email address)

[2022-06-10 17:25] sarina commented on #239
Update: We'll need to create some more subdomains, but I am waiting to hear back from Juan on the specifics.

[2022-06-10 17:27] sarina commented on #292
@arbrandes I added Pooja to the Slack group, and Dave added her to the Google groups. Let me know if there's anything else I can help with.

[2022-06-10 18:57] feanil commented on #310
He's been invited to the org and to the push-pull-all team.

[2022-06-10 18:57] #310 closed

[2022-06-10 19:01] feanil commented on #298
Done: https://github.com/orgs/openedx/teams/frontend-triage/members

[2022-06-10 19:01] #298 closed

[2022-06-10 19:05] feanil commented on #296
Invited to push-pull-all

[2022-06-10 19:05] #296 closed

[2022-06-10 19:48] nedbat opened #312 "How is the OSCM user configured in openedx.atlassian.net?"
What permissions, etc are on this user? https://openedx.atlassian.net/jira/people/search?q=OSCM

We need to be sure the parallel user is correct in 2u-internal.atlassian.net.

[2022-06-11 02:42] robrap commented on #291
This seems like a long time on GitHub requests. Do you have an SLA for expected wait times at various urgency levels? Thanks.

[2022-06-11 19:00] arbrandes commented on #291
@robrap, apologies!  This is on me: assigned myself but had a bunch of high-priority requests jump the queue, and this one fell off the table.

In any case, here it is: https://github.com/openedx/kafka-event-bus

It's blank.  You should have enough permissions to manage it.  Let me know if you need anything else.

[2022-06-13 01:22] robrap commented on #291
Thanks @arbrandes!

[2022-06-13 12:21] feanil commented on #295
Looks like this has been resolved, closing.

[2022-06-13 12:21] #295 closed

[2022-06-13 13:45] #303 closed

[2022-06-13 13:47] arbrandes commented on #300
Issues enabled!

[2022-06-13 13:47] #300 closed

[2022-06-13 14:25] #307 closed

[2022-06-13 14:59] kdmccormick opened #313 "Fix type annotations in edx-platform user partitioning code"
## Context

When [./common/lib/xmodule/xmodule was moved to ./xmodule](https://github.com/openedx/edx-platform/pull/30394), we gained some increased fidelity on type errors in xmodule-related code, since mypy became able to locate ./xmodule files as local code (before, `xmodule` was treated as an external library).

One result of this was that [a new mypy failure was introduced on this line](https

[2022-06-13 14:59] kdmccormick commented on #313
FYI @ormsbee

[2022-06-13 15:34] jmbowman opened #314 "[GH Request] Onboard whuang1202"
### Firm Name

2U

### User List

* William Huang, @whuang1202

### Start Date

13 June 2022

### Urgency

Medium Urgency - will be needed shortly

### Special Requests

Will is an intern on the Arch-BOM squad, so it probably makes sense to also add him to the arch-bom GitHub team.

[2022-06-13 15:49] schenedx opened #315 "[GH Request] Onboard Varsha Menon"
### Firm Name

2U

### User List

Varsha Menon, varshamenon04@gmail.com

### Start Date

June 13, 2022

### Urgency

Medium - At the end of the week because she is a software developer

### Special Requests

_No response_

[2022-06-13 16:45] arbrandes commented on #292
Thanks @sarina!  This is now done.

[2022-06-13 16:45] #292 closed

[2022-06-13 17:36] Carlos-Muniz commented on #314
@whuang1202 has been invited to the openedx org, to the push-pull-all team, and to the arch-bom team.

[2022-06-13 17:36] #314 closed

[2022-06-13 17:40] #315 closed

[2022-06-13 17:52] jmbowman opened #316 "[GH Request] Fix frontend-triage team permissions"
### Firm Name

2U

### Urgency

High urgency - interfering with review of multiple PRs

### Requested Change

Grant the `frontend-triage` team explicit read or write access to at least the following repositories:

* edx-platform
* edx-proctoring
* frontend-* (any public repository starting with "frontend-")
* studio-frontend

### Reasoning

https://github.com/openedx/tcril-engineering/issues/303 c

[2022-06-13 18:57] Carlos-Muniz commented on #316
The frontend-triage team has been granted explicit read access to 29 repos:
1. edx-platform
2. edx-proctoring
3. frontend-app-account
4. frontend-app-admin-portal
5. frontend-app-authn
6. frontend-app-course-authoring
7. frontend-app-discussions
8. frontend-app-ecommerce
9. frontend-app-enterprise-public-catalog
10. frontend-app-gradebook
11. frontend-app-learner-portal-enterprise
12. frontend-app

[2022-06-13 18:57] #316 closed

[2022-06-13 20:08] robrap opened #317 "Send invite to 2U to share Slack channel #depr-slash-n-burn"
Please send an invite to 2U to share the Slack channel `#depr-slash-n-burn`. You may be able to send it to me at rraposa@edx.org. Thank you.

Here is the channel link: https://openedx.slack.com/archives/CGB0S3L12

Thank you.

[2022-06-13 20:31] schenedx opened #318 "[GH Request] Onboard Marcin Pitera (m-pitera)"
### Firm Name

2U

### User List

Marcin Pitera: [m-pitera](https://github.com/m-pitera)

### Start Date

June 13, 2022

### Urgency

Medium - At the end of the week because he is a software development intern

### Special Requests

_No response_

[2022-06-13 20:56] robrap commented on #291
@arbrandes: Thoughts about whether or not you want to create an improved the GitHub issue template? Maybe add that to its own separate issue (outside of this one)? Otherwise, I assume this can be closed?

[2022-06-14 13:28] Carlos-Muniz commented on #318
Marcin Pitera (m-pitera) has been invited to the openedx org and added to the push-pull-all team.

[2022-06-14 13:28] #318 closed

[2022-06-14 13:41] zzzarius opened #319 "[GH Request] Access to push changes to `https://github.com/openedx/course-discovery` repository"
### Firm Name

2U Contractor - Adapt

### Urgency

Medium

### Requested Change

Ability to push changes to https://github.com/openedx/course-discovery repository for the users:
- Darius Zivertas (github id: [zzzarius](https://github.com/zzzarius),)
- Jesse Day (github id: [jesseday](https://github.com/jesseday))
- Nick Pizzo (github id: [nickpizzo](https://github.com/nickpizzo))

### Reasoning

W

[2022-06-14 13:43] mulby commented on #319
Not sure if my approval is needed here -- but I approve!

[2022-06-14 17:13] feanil commented on #312
@nedbat I took a look and it's not super easy to see.  This user is in the following groups:

* confluence-users
* contributors
* jira-users
* _licensed-jira

If you tell me which spaces you want to know more about, I can look up the permissions for those groups in the relevant spaces.  Otherwise, this is all I have for now.

[2022-06-14 19:04] Carlos-Muniz commented on #317
Hello @robrap thank you for the request. In the future, you can make this as a systems request so that we get the notification you need help with something.

[2022-06-14 19:29] Carlos-Muniz commented on #319
A new team named `course-discovery-write-2u-adapt` has been created and given write-level access to `openedx/course-discovery`. The 3 users @zzzarius, @jesseday, and @nickpizzo have been invited to the openedx org and to the `course-discovery-write-2u-adapt` team.

[2022-06-14 19:29] #319 closed, assigned to Carlos-Muniz

[2022-06-14 21:25] arbrandes commented on #289
Waiting on legal confirmation that this can be done without repercussion.

[2022-06-14 21:33] arbrandes commented on #299
@Carlos-Muniz, this is one that will take some digging.  Do you think you have time to take it on?

[2022-06-14 21:37] nedbat commented on #312
Thanks, that will do for now.  I'll come back if I need more.

[2022-06-14 22:10] arbrandes commented on #291
@robrap, good question.  We can close this, but I'll bring up the whole new repo docs thing with the team.  (I'm of the opinion we should put up repo guidelines in a public document/wiki page, and link to it from a new issue template.)

[2022-06-14 22:13] #291 closed

[2022-06-14 22:22] arbrandes commented on #293
Confirmed that the cookies are now gone.

[2022-06-14 22:22] #293 closed, assigned to arbrandes

[2022-06-15 00:05] robrap commented on #317
@Carlos-Muniz: Thank you!

[2022-06-15 07:56] zzzarius commented on #319
@Carlos-Muniz Thanks!

[2022-06-15 12:55] feanil commented on #302
@arbrandes I think there is enough 2U specific stuff on that page that we shouldn't just change the premissions on the page but pull out the relevant content to a more public place.  You should be able to view and edit the page and pull out the relevant content.  If you think we should open up the whole page, we should figure out what the process is for consulting with 2U before we do that because

[2022-06-15 14:33] jristau1984 commented on #297
Hi!  Just checking in on this, any updates yet?

[2022-06-15 14:45] hurtstotouchfire opened #320 "[GH Request] Onboard MaxFrank13"
### Firm Name

2U

### User List

* Max Frank, @MaxFrank13

### Start Date

13 June 2022

### Urgency

High

### Special Requests

_No response_

[2022-06-15 15:14] Carlos-Muniz commented on #320
The user @MaxFrank13 has been invited to the `openedx` org and added to the `push-pull-all` team.

[2022-06-15 15:14] #320 closed

[2022-06-15 16:33] timmc-edx opened #321 "[GH Request] Rename kafka-event-bus repo to event-bus-kafka"
### Firm Name

2U

### Urgency

Within 1-2 weeks would be great so that we can start publishing this package.

### Problem/Request

We originally requested this repo with a "kafka" prefix, but would like that to be the suffix instead.

### Reasoning

There will probably be multiple `openedx-event-bus-XXX` packages (kafka, redis, maybe something else?) and this will make them easier to find.

[2022-06-15 17:56] Carlos-Muniz commented on #299
@arbrandes I don't mind taking this on!

[2022-06-15 19:56] arbrandes commented on #299
Thanks!

[2022-06-15 20:29] Carlos-Muniz commented on #299
@regisb Thank you for your GH Request.

As I understand it, [the command](https://github.com/openedx/edx-platform/pull/30232#pullrequestreview-939435487) you should be using is actually `@openedx-community-bot merge`.

Though this does not tag @openedx/edx-community-bot nor @edx-community-bot, it should still work as intended. Please re-open this issue and tag me here to let me know in the case th

[2022-06-15 20:29] #299 closed

[2022-06-15 20:31] Carlos-Muniz commented on #299
@jmakowski1123
We should make a follow up task for evaluating and possibly rearchitecting this GH Workflow/Bot, possibly for later August.

[2022-06-16 17:10] jmbowman commented on #253
@ormsbee With Nutmeg now released, is this just waiting on time to come back and archive it?

[2022-06-16 17:58] timmc-edx commented on #321
Oh... while you're in there, could you rename the `master` branch to `main`? Our cookiecutter assumes all new repos will be created with default branch `main`, but my lcoal dev environment created the first branch as `master`...

[2022-06-16 18:02] Carlos-Muniz commented on #321
Thank you for your request.
The repo `openedx/kafka-event-bus` has been renamed to `openedx/event-bus-kafka`.
In addition, the default branch's name has been changed from `master` to `main`.

[2022-06-16 18:02] #321 closed

[2022-06-16 18:08] timmc-edx commented on #321
Thank you!

[2022-06-16 19:19] Carlos-Muniz commented on #253
`django-ratelimit-backend` has been archived and org ownership has been transferred to `openedx-unsupported`.

[2022-06-16 19:19] #253 closed

[2022-06-16 19:37] jmbowman opened #322 "[GH Request] Grant triage role on public-engineering to arbi-bom team"
### Firm Name

2U

### Urgency

Medium Urgency - needed to streamline maintenance issue creation

### Requested Change

Please grant the arbi-bom team the triage role on the public-engineering repository.

### Reasoning

In the discussion on how to create tickets for edx-platform maintenance tasks (so that anybody in the Open edX community could implement them), we decided to create them as GitHub

[2022-06-17 13:19] mulby opened #323 "[GH Request] Onboard TheEarlyNerd, aheykamp2u, Yar0myr"
### Firm Name

2U

### User List

* Kaleb Davenport [TheEarlyNerd]
* Andrew Heykamp [aheykamp2u]
* Yaromyr Plashenko [Yar0myr]

### Start Date

16 June 2022

### Urgency

Medium - done in the next week or so would be great

### Special Requests

push-pull-all would be great if possible -- these folks are all 2U engineering full-time new hires

[2022-06-17 14:00] rgraber opened #324 "[GH Request] Onboard whuang1202 (to former eduNEXT repos)"
### Firm Name

2U

### User List

William Huang
whuang1202

### Start Date

17 June 2022

### Urgency

High urgency (new intern is basically blocked without it)

### Special Requests

It seems that adding Will to openedx did not give him permission to write to openedx/openedx-events, which is the specific permission we need added

[2022-06-17 14:45] sarina commented on #324
openedx/openedx-events is actually maintained by eduNEXT, a community member, and is thus not a default for 2U employees. Moving forward this will become more frequent as we adopt community repos and move towards maintainership.

Either you or Will will need to reach out to @mariajgrimaldi or @felipemontoya if Will wants to get write access to the repo. In the meantime, Will could work off a fork

[2022-06-17 14:45] #324 closed

[2022-06-17 14:55] felipemontoya commented on #324
Thanks @sarina.

@rgraber please let me know if Will working with a fork is an acceptable solution. I was under the impression that this access granting would follow the core contributors procedures. So 3Cs and nomination and that. However I don't know if the case of 2U has a different flow. I hope that the urgency while this is cleared can be solved with the fork solution.

[2022-06-17 15:19] jmbowman opened #325 "[GH Request] Grant paragon read access to frontend-triage team"
### Firm Name

2U

### Urgency

Medium Urgency - obstructing review workflow for some PRs

### Requested Change

Please grant the frontend-triage team explicit read access to the paragon repository.

### Reasoning

In https://github.com/openedx/tcril-engineering/issues/316, I missed the paragon repository in the list of repos in which the frontend-triage team is likely to be assigned PRs for revie

[2022-06-17 15:33] Carlos-Muniz commented on #325
Thank you for your request.
The `frontend-triage` team has been granted read access to the `openedx/paragon` repo.

[2022-06-17 15:33] #325 closed

[2022-06-17 18:30] Carlos-Muniz commented on #323
Thank you for your request. @TheEarlyNerd, @aheykamp2u, and @Yar0myr have been invited to the `openedx` org and have been added to the `push-pull-all` team.

[2022-06-17 18:30] #323 closed

[2022-06-17 18:51] Carlos-Muniz commented on #322
Thanks for the request. I will get to this ticket on Monday.

[2022-06-17 20:27] e0d opened #326 "Write TOC Welcome Letter"

[2022-06-17 20:27] e0d opened #327 "Choose Community Metrics"

[2022-06-17 20:27] e0d opened #328 "Gather Impact Metrics"

[2022-06-21 14:48] rgraber commented on #324
We can almost certainly deal with a fork solution for now. I'll take it back to the team about the specifics of access granting.

[2022-06-21 14:55] jristau1984 commented on #297
I must have accidentally closed this.  I still do not see a repo available.

[2022-06-21 15:15] kdmccormick opened #329 "Convert our Jira instance to a readonly archive"
## Context

The Jira projects at https://openedx.atlassian.net/projects were once used by edX for general issue tracking. They have since moved to https://2u-internal.atlassian.net and/or GitHub project boards.

For historical reference, we want to keep the Jira issues around as a public, readonly archive. To reduce confusion and spam, we want to shut down write access to these projects.

(This do

[2022-06-21 15:38] sarina opened #330 "[GH Request] Add permissions: pomegranited"
### Firm Name

OpenCraft

### Urgency

medium

### Requested Change

@pomegranited writes:

We've got consensus to extend my CC merge rights to include the edx-analytics-* repos:

https://discuss.openedx.org/t/coding-cc-rights-expansion-jillian-vogel/7339

As part of this, OpenCraft is willing to take ownership of these repos, as per Andy Schulze's request. That "ownership" is likely to just be ma

[2022-06-21 15:38] sarina commented on #330
@pomegranited whan would you like the slack room to be called?

[2022-06-21 16:24] arbrandes commented on #297
When applicable, we're encouraging issues be created in existing code repositories: the issues can then be brought into separate project boards (top-level ones, or ones in other repos) as needed.

The exception is edx-platform: we're not ready to enable issues there, yet.  We're asking related issues be created in [#public-engineering](https://github.com/openedx/public-engineering/issues) instead.

[2022-06-21 16:46] feanil opened #331 "Consolidate openedx.yaml and catalog-info.yaml"
See this conversation for more details: https://github.com/openedx/open-edx-proposals/pull/343/files#r900223439

### Summary
We decided to start using backstage for tracking maintainership.  This means there is now both a `catalog-info.yaml` file and an `openedx.yaml` file at the top level of repos.  Many of the goals of the openedx.yaml are fulfilled by the new `catalog-info.yaml` file.   Once th

[2022-06-22 02:36] pomegranited commented on #330
@sarina

How about `cc-analytics` ?

I considered `cc-data` to match the `wg-data`, but "data" is a much bigger topic than "analytics", so I think "analytics" is best.

[2022-06-22 14:20] #311 closed, assigned to Carlos-Muniz

[2022-06-22 18:29] arbrandes opened #332 "Create take-home screening exercise"
Convert the [frontend-react-app](https://github.com/openedx/tcril-interview/tree/main/frontend-react-app) interview question into a Coderpad take-home exercise.

This includes finding somewhere to run the API permanently, resiliently, and easily deployable.  (Read: create Docker image via CI, post it somewhere, and run it.)

[2022-06-23 13:30] Carlos-Muniz commented on #322
Just an update, still working on this.

[2022-06-23 13:42] Carlos-Muniz commented on #330
Congratulations @pomegranited, your merge rights have been extended via the process described [here](https://openedx.atlassian.net/wiki/spaces/COMM/pages/2810249408/Administering+a+CC+Committer+Onboarding+Runbook). Your one-person team `CCP Commiter: pomegranited` now has write access to the [edx-analytics-pipeline](https://github.com/openedx/edx-analytics-pipeline), [edx-analytics-data-api](https

[2022-06-23 13:42] #330 closed

[2022-06-23 13:54] arbrandes commented on #286
[Done](https://discuss.openedx.org/t/announcing-an-alternate-frontend-work-group-meeting-time/7601)

[2022-06-23 16:48] arbrandes opened #333 "Herd MFE developer onboarding docs somewhere central"

[2022-06-23 17:29] arbrandes opened #334 "Find a board to host all PRs that need reviews"
Currently, Natalia maintains this board:

https://github.com/orgs/openedx/projects/19/views/3

It is a great list of PRs that need review from anybody in the community, but it doesn't look like it encompasses *all* PRs that could be reviewed by anybody.  A first step would be to discuss this with Natalia and @jmakowski1123 to see if there's enough common ground to work together on either a new boa

[2022-06-23 18:17] jmakowski1123 opened #335 "Draft the document"
First step - synch hour with Adolfo and Jenna

[2022-06-23 18:23] jmakowski1123 opened #336 "Adolfo PRs - 27 June - 8 July"
List of PRs for review during current sprint:

[2022-06-23 20:44] #322 closed

[2022-06-23 20:45] Carlos-Muniz commented on #322
Thank you for your request. Instead of granting the "triage" role to the `Arbi-BOM` team, the public-engineering repo has inherited a GitHub workflow originally from the build-test-release-wg repo called `add-remove-label-on-comment` (renamed from `label-on-comment`). This should allow the team to assign and remove labels to issues, without your intercession. Instructions for how to use the workfl

[2022-06-24 15:23] whuang1202 opened #337 "[GH Request] whuang1202 labels access"
### Firm Name

edx

### Urgency

Medium/high urgency - sometime within the next week

### Requested Change

Add permissions for whuang1202 (William Huang) to be able to add labels to the event-bus project board, alternatively give triage access.

https://github.com/openedx/tcril-engineering/issues/324

### Reasoning

Allows for clearer labeling of tasks in the project board

[2022-06-24 16:07] sarina opened #338 "[GH Request] Change Repo Access: course-discovery & publisher"
### Firm Name

tCRIL & 2U

### Urgency

high

### Requested Change

Please:

* Remove course-discovery & frontend-app-publisher from `push-pull-all`
* Make two new GitHub teams:
  * course-discovery-maintainers, with write access to one repo: course-discovery
  * frontend-app-publisher-maintainers, with write access to one repo: frontend-app-publisher
* To these groups add the following people:

[2022-06-24 16:10] sarina opened #339 "[GH Request] Change repo access"
### Firm Name

tCRIL & 2U

### Urgency

high

### Requested Change

Please:

* Remove ecommerce, ecommerce-worker, frontend-app-payment, & frontend-app-ecommerce from `push-pull-all`
* Make four new GitHub teams:
  * ecommerce-maintainers, with write access to one repo: ecommerce
  * ecommerce-worker-maintainers, with write access to one repo: ecommerce-worker
  * frontend-app-payment-maintainers,

[2022-06-24 16:40] arbrandes commented on #202
Here it is, finally!

https://openedx.atlassian.net/wiki/spaces/OEPM/pages/3390701611/Areas+of+Improvement+for+Micro-frontends

[2022-06-24 16:41] #202 closed

[2022-06-24 16:43] jmakowski1123 commented on #202
Yay!!

[2022-06-24 16:56] #306 closed

[2022-06-24 18:12] nedbat commented on #334
Do you have an idea about how to determine PRs that need review? Would it be manual assignment (label?) or some other criteria?  The "2U External Contributions" board has all PRs opened by people who don't work for 2U.  This is clearly too broad, but that's how the bot works now.

[2022-06-24 18:53] Carlos-Muniz commented on #337
Hello @whuang1202, thank you for your request. Please ask your manager to remake this request on your behalf.

[2022-06-24 18:53] #337 closed

[2022-06-24 19:32] nedbat commented on #339
Thanks.  These repos should be owned by the Purchase team (not Phoenix), which is: @inventhouse, @dianekaplan, @julianajlk, @pshiu.

[2022-06-24 19:33] nedbat commented on #338
Thanks.  The Phoenix team is @DawoudSheraz, @azanbinzahid, @uzairr, @Ali-D-Akbar, @AliAdnanSohail, @ansabgillani.

[2022-06-24 22:06] sarina commented on #338
Partially completed. Teams are here:

https://github.com/orgs/openedx/teams/course-discovery-maintainers/members

https://github.com/orgs/openedx/teams/frontend-app-publisher-maintainers/members

For frontend-app-publisher, here are the teams that have access. I think the ones with "read" access can stay as-is. Could you please advise what to do with the teams that have "write" and "admin" access?

[2022-06-24 22:11] sarina commented on #338
@e0d I don't think this will be finished tonight, so will need to be picked up for on-call on Monday

[2022-06-24 22:21] sarina commented on #339
Please advise how to handle the groups with write or admin access to the repos

FEA-ecommerce
<img width="896" alt="image" src="https://user-images.githubusercontent.com/1985317/175700271-c8f20c9b-5a15-42f6-be0a-96abb12a7666.png">

FEA-payment
<img width="955" alt="image" src="https://user-images.githubusercontent.com/1985317/175700293-d1df4757-555d-4909-ad59-96fd703fbf08.png">

ecomm-worker
<img

[2022-06-24 22:21] sarina commented on #339
@e0d tagging you because this on-call work will need to fall through to next week.

[2022-06-26 22:53] pomegranited commented on #330
Awesome, thank you @Carlos-Muniz and @sarina !

[2022-06-27 15:01] #290 closed

[2022-06-27 15:17] e0d commented on #260
@ormsbee this is good to close, correct?

[2022-06-27 15:21] e0d commented on #338
@nedbat need some additional input on this one as well.

[2022-06-27 21:09] e0d commented on #279
TIL that we've been using edX Google tag manager configuration.  This was a level of indirection I was not aware of.  I'll create the GTM account for us and move our new analytics properties to it.

[2022-06-27 21:47] e0d commented on #279
Discourse is configured to use GA directly and not via tagmanager.  I've created a linked GA4 tag for the existing universal tag and updated the configuration in discourse.

![Image](https://user-images.githubusercontent.com/1270274/176041334-cf561477-b674-42d3-87c8-411e8cc620a0.png)

[2022-06-27 22:02] e0d commented on #279
There are two separate properties for the Open edX Conference site, con.openedx.org.  I'm move UA-76355352-1 to the trash.

[2022-06-28 08:32] regisb commented on #299
I can confirm that it is working, as evidenced by: https://github.com/openedx/edx-platform/pull/30570#issuecomment-1168406245
It's strange that the "@openedx-community-bot" does not link to an actual user, though.

Thanks!

[2022-06-28 12:30] colinbrash opened #340 "[GH Request] Onboard zubair-ce07"
### Firm Name

2U

### User List

Muhammad Zubair, @zubair-ce07

### Start Date

27 June 2022

### Urgency

mid/high urgency - Zubair's work is currently blocked

### Special Requests

Zubair also needs to be added to:
* `ecommerce-maintainers`
* `ecommerce-worker-maintainers`
* `frontend-app-payment-maintainers`
* `frontend-appecommerce-maintainers`

Thank you!

[2022-06-28 12:41] colinbrash opened #341 "[GH Request] ecommerce access teams changes"
### Firm Name

2U

### Urgency

High urgency - ASAP

### Requested Change

Please add the following users to the following teams:

Users:

- Long Lin - @long74100
- Alex Dusenbury - @iloveagent57
- Chris Pappas - @christopappas
- Adam Stankiewicz - @adamstankiewicz
- Brian Beggs - @macdiesel
- John Nagro - @johnnagro

Teams:
- ecommerce-maintainers
- ecommerce-worker-maintainers

### Reasoning

Th

[2022-06-28 12:44] colinbrash opened #342 "[GH Request] add me to ecommerce teams"
### Firm Name

2U

### Urgency

Low urgency - a couple weeks is fine

### Requested Change

Please add me to the ecommerce teams:

Colin Brash, @colinbrash

- ecommerce-maintainers
- ecommerce-worker-maintainers
- frontend-app-payment-maintainers
- frontend-appecommerce-maintainers

### Reasoning

I am the EM for this team and was mistakenly left out of the teams.

[2022-06-28 13:49] ormsbee commented on #260
Yup, we're on [the sponsors page](https://www.djangoproject.com/foundation/corporate-members/)! Thank you!

[2022-06-28 14:12] e0d commented on #279
- Wordpress integration of the new tag manager code is in progress with the team
- PR is open for updating the conference site, https://github.com/openedx/openedx-conference-website/pull/26

[2022-06-28 14:18] e0d commented on #340
@colinbrash this change has been made, please let me know if there are any further issues.

[2022-06-28 14:24] e0d commented on #341
@colinbrash this has been done, please let me know if there are any further issues.

[2022-06-28 14:24] #341 closed

[2022-06-28 14:27] #342 closed

[2022-06-28 15:33] #340 closed, assigned to e0d

[2022-06-28 15:41] e0d opened #343 "Google Analytics 4 Upgrade Long Tail"
Less urgent and could be split into a separate ticket

- [ ] Create a new GA4 property for training.openedx.io
- [ ] Create a new GA4 property for sandbox.openedx.org
- [ ] Figure out who should have access to the various GA resources and update any relevant docs

Relates to https://github.com/openedx/tcril-engineering/issues/279

[2022-06-28 16:51] arbrandes opened #344 "Frontend reviews 2022-06-27"
Placeholder issue for community reviews taken on during the current sprint.  The list of subtasks (the PRs) need not be listed in advance, but should be recorded here for future reference.

### Reviews

- [x] https://github.com/openedx/edx-platform/pull/30473
- [x] https://github.com/openedx/frontend-platform/pull/335
- [x] https://github.com/openedx/frontend-app-account/pull/603
- [x] https://git

[2022-06-29 15:32] jmakowski1123 opened #345 "ReadSpeaker discovery - advisory input"
ReadSpeaker, working with Moocit, is aiming to address the following challenge around translating documentation in the LMS: Currently, content featured in courses has to be exported, translated, then reimported. Readspeaker wants to integrate a ReadSpeaker button into the LMS as a possible native feature. They are currently undertaking discovery work to understand the technical makeup of the platf

[2022-06-29 15:49] e0d commented on #279
This has been completed for openedx.org and con.openedx.org.

Both the new and old properties remain in GA.  GA4 properties are clearly named.  Both of these sites are connected via Google Tag Manager.

[2022-06-29 15:49] #279 closed

[2022-06-29 16:20] nedbat opened #346 "[GH Request] The Slack invitation app seems to be broken: token_revoked"
### Firm Name

2U

### Urgency

This week please

### Problem/Request

The Slack invitation app at https://openedx.org/slack doesn't work any more:
<img width="383" alt="Screen Shot 2022-06-29 at 12 15 14 PM" src="https://user-images.githubusercontent.com/23789/176486420-d17c1bd9-7809-4d05-9962-7c58a95f766f.png">

### Reasoning

This is how new members get into the Open edX Slack, so we should kee

[2022-06-29 18:09] Carlos-Muniz opened #347 "Tutor: Ensure settings for core & official plugins are documented"
https://github.com/overhangio/2u-tutor-adoption/issues/6

[2022-06-29 21:05] feanil commented on #346
So after digging into this for the last 4 hours or so, it looks like the method that the slack-invite app uses is no longer supported by slack.  The API that it utilises is undocumented and it's not possible to create new legacy tokens that can make use of that API.

There are [older 3rd party apps](https://openedx.slack.com/apps/A3KF6P48M-community-inviter?next_id=0) that provide this service, bu

[2022-06-29 21:25] jmakowski1123 commented on #146
Final discovery artifact open for comment: https://openedx.atlassian.net/wiki/spaces/OEPM/pages/3390701611/Discovery+Findings+Areas+of+Improvement+for+Micro-frontends

[2022-06-29 21:26] #146 closed

[2022-06-30 17:25] mphilbrick211 opened #348 "Marketing Working Group Highlights"
https://docs.google.com/document/d/1hBuryEKmWsTBWEVhTkwh1TYPETiVVOQr8ie5F9V2pbo/edit

[2022-07-01 19:20] jmakowski1123 opened #349 "Discovery Findings: Survey App in Django Admin"
Earlier this year, tCRIL did some [discovery work](https://github.com/openedx/tcril-engineering/issues/62) around possible approaches to gathering impact data on Open edX Instances.

At the time, we decided to pursue a manual Google Form approach, which was less than successful in terms of gathering data across the ecosystem.

Dave outlined a framework and some recommendations for building an auto

[2022-07-01 19:24] jmakowski1123 commented on #349
Approach:

[2022-07-01 19:25] jmakowski1123 commented on #349
Additional context:

[2022-07-01 19:39] jmakowski1123 commented on #349
7/1 - Shared with Juan for review for eduNEXT/tCRIL project.

[2022-07-05 01:25] colinbrash opened #350 "[GH Request] Onboard asifbilal786, moeez96"
### Firm Name

2U

### User List

* Asif Bilal, @asifbilal786
* Abdul Moeez Zahid, moeez96

### Start Date

07/04/2022

### Urgency

mid/high urgency - both have already started work

### Special Requests

_No response_

[2022-07-05 16:25] nedbat opened #351 "[GH Request] Can we block a user making pointless pull requests?"
### Firm Name

2U

### Urgency

This week please

### Requested Change

GitHub user @anguyenguy has made 10 pull requests that all seem to be similar mistakes:
https://github.com/openedx/edx-platform/pulls?q=+is%3Apr+author%3Aanguyenguy

I have tried to get their attention, including sending an email to them based on a git commit they had made.   They have not responded, and have kept making pull

[2022-07-05 17:27] ormsbee commented on #350
@colinbrash: I've added them to the openedx org and to push-pull-all. If there are other groups they should be added to, please list them here and re-open the ticket. Thank you.

[2022-07-05 17:27] #350 closed

[2022-07-06 14:26] #312 closed

[2022-07-06 17:10] kdmccormick commented on #329
Update from standup:
* we are ready to do this
* one active problem with it being non-readonly is spam: https://discuss.openedx.org/t/jira-is-full-of-spam-now/7739

[2022-07-06 21:33] nedbat commented on #351
They haven't made any pull requests since I wrote this ticket, FWIW.

[2022-07-07 14:28] dianekaplan commented on #340
Hello, TCRIL!

Thanks for your help getting Zubair set up. We're seeing an issue with his first PR in frontend-app-ecommerce; the 'signed contributor agreement' check fails:
https://github.com/openedx/frontend-app-ecommerce/pull/193

At first I tried adding him into the people.yaml file in repo-tools-data, but I'm not sure that's used anymore. Could you update Zubair to be internal/approved as far

[2022-07-07 15:15] kdmccormick opened #352 "Tidy up the wiki"
## Problem

Browsing through https://openedx.atlassian.net/wiki/, it's tough to distinguish between what's:
* actively used
* inactive but maybe useful
* way out-of-date and misleading

For example:
* [OEPM](https://openedx.atlassian.net/wiki/spaces/OEPM) is new and actively used
* [OpenOPS](https://openedx.atlassian.net/wiki/spaces/OpenOPS) has fallen out of use and out of date (it's mostly Ansib

[2022-07-07 15:17] kdmccormick commented on #352
cc @sarina since we were just talking about this, and @feanil since it relates to documentation.

If you guys like the sound of my proposal, then I am happy to do this when I have spare time on some Friday afternoon. I would just need admin rights on Confluence.

[2022-07-07 17:50] arbrandes commented on #283
The discussion is happening as part of [this ADR's PR](https://github.com/openedx/paragon/pull/1388).

[2022-07-07 17:50] #283 closed

[2022-07-07 17:51] arbrandes commented on #284
I found today that this has expanded into two more PRs, this time for ADRs:

https://github.com/openedx/paragon/pull/1388

and

https://github.com/openedx/frontend-platform/pull/351

I believe we should carry this over into the next sprint.

[2022-07-07 20:03] e0d opened #353 "Determine whether we need Atlassian paid plugins"
We currently have two paid plugins in our instance that were in use by edX prior to the transfer of the Atlassian domains to us.  We should determine whether we still need them and, if not, remove them.

![Image](https://user-images.githubusercontent.com/1270274/177862122-84d29eeb-48dc-4664-afa2-463e4b48f81b.png)

[2022-07-07 20:12] e0d commented on #340
@dianekaplan I can confirm that we have not received a request to add zubair-ce07 to the CLA file.

Please note that updating `people.yaml` will not help with this issue.

[2022-07-07 20:50] feanil commented on #352
It's not a bad proposal, I think it would be worth having at-least a few people go through it as different people may have different context on the info presented.  Does it make sense to do this as a pair maybe?

[2022-07-07 21:05] kdmccormick commented on #352
Good idea. What if we just set up an optional team meeting and do this synchronously with whoever is interested?

[2022-07-08 14:11] sarina commented on #352
I'm interested in participating! I already have a no-permissions user.

It'd be good to have some structure so we don't spend a long time on one item. Perhaps we could pull a spreadsheet, divide it up, make recommendations on the sheet, and then come together synchronously to present/discuss?

[2022-07-08 16:58] jmakowski1123 opened #354 "MFE priority list - add product value and impact info"
The next step to evolve the MFE discovery findings, on an incremental path to building an MFE roadmap are:

- [x] #358
- [x] To translate the prioritized list of problem statements into proposed solutions/initiatives (brief and high level)
- [x] To add information on the targeted persona and a statement about product value and impact to each
- [x] To track any projects that are already underway in

[2022-07-08 18:45] kdmccormick opened #355 "`@openedx-community-bot merge` generates long, strange commit messages"
See: https://github.com/openedx/edx-platform/commit/a11ad35061e33041247d03d573e1ba0c32abd9ed (merged from https://github.com/openedx/edx-platform/pull/30570)

[2022-07-10 23:34] nedbat commented on #351
Nope, it's been quiet.  I guess the need has passed.

[2022-07-10 23:34] #351 closed

[2022-07-11 11:47] e0d commented on #355
You mean strange as potentially outdated or something else?  Based on the description I was expecting a bug in the bot or a compromise.

[2022-07-11 13:32] kdmccormick commented on #355
Sorry, I should have been more specific. What I find strange is that it does a squash+merge, throws out the existing commit message(s), and uses the PR description as the commit message instead. This leads to a very awkwardly long commit message, often including noise from the PR template (like the one linked).

Since we are already linting individual commit messages, I think we should instead jus

[2022-07-11 13:37] e0d commented on #355
Ah, I clicked on the second link and was lost.  Thanks.

[2022-07-11 14:11] e0d commented on #289
@arbrandes still blocked?

[2022-07-11 14:12] e0d commented on #338
@nedbat is this still a priority?

[2022-07-11 14:13] e0d commented on #339
@nedbat is this still a priorty?

[2022-07-11 14:19] arbrandes commented on #289
@e0d, still waiting on legal, so technically still blocked.

[2022-07-11 14:53] kdmccormick commented on #355
Np. I rewrote the issue title and description to be more self-evident.

[2022-07-11 15:06] Carlos-Muniz opened #356 "Write up #openedx-rookies Virtual Meetup plan/proposal"

[2022-07-11 15:13] arbrandes opened #357 "Frontend Working Group Impact Report"

[2022-07-11 16:44] arbrandes opened #358 "Ask David Joy and/or Jeremy Bowman for MFE success stories (including data or metrics used to measure MFEs from the 2U pespective)"

[2022-07-11 16:54] jmakowski1123 opened #359 "Create a Product Concept note that articulates an overall value/impact statement to drive the MFE Roadmap."
Ultimately, what are we trying to accomplish? Comprehensive community-wide owneership and governance of the MFE infrastructure? And why is that important for the overall health of the platform?

[2022-07-11 19:45] kdmccormick opened #360 "[GH Request] Move edx/django-require into the openedx organization"
### Firm Name

tCRIL

### Urgency

Low

### Requested Change

* **First,** run this transfer by legal.
* Then, after he's back from PTO on Mon 7/18, ask Ned from 2U to transfer https://github.com/edx/django-require into the openedx org.
* Then add `push-pull-all` write access to the repo, and add @jmbowman as a repo admin.
* (This unblocks https://github.com/openedx/edx-platform/pull/30719)

### R

[2022-07-11 19:47] kdmccormick commented on #360
(@e0d you can ignore this one, I'm on it)

[2022-07-11 22:15] feanil commented on #346
I've updated the heroku app to now redirect to the slack invitation URL instead of going to the old app.  I've also updated all the places I could find in the code base to use `https://openedx.org/slack` instead of directly mentioning the herokuapp so that we can eventually get rid of the app.

https://github.com/openedx/openedx-slack-invite/pull/4 replaces the app code with what's now being serve

[2022-07-12 14:44] feanil commented on #346
Once the PR for slack-invite bot has been merged and deployed, this can be marked as done.

[2022-07-12 18:21] robrap opened #361 "[GH Request] Delete Confluence page"
### Firm Name

2U

### Urgency

Medium

### Problem/Request

Please delete https://openedx.atlassian.net/wiki/spaces/AC/pages/3225288755/Confluent.io+Kafka+Hosting+Notes.

### Reasoning

This page was meant for the 2U internal wiki.

[2022-07-12 18:22] sarina commented on #361
Done!

[2022-07-12 18:22] #361 closed

[2022-07-12 18:41] arbrandes commented on #289
Update: apparently, this will require some unforeseen legal leg-work.  It's happening, but we don't have a timeline yet.

[2022-07-12 18:57] robrap commented on #361
Thanks @sarina.

[2022-07-12 19:04] mbeljoi opened #362 "[GH Request] Onboard <zubair-ce07>"
### Firm Name

2U

### User List

Muhammad Zubair,@zubair-ce07

### Start Date

12 July 2022

### Urgency

medium

### Special Requests

When making a change to one of our team repos (frontend-app-ecommerce), our
new Arbisoft teammate Zubair is failing the CLA check (PR here
<https://github.com/openedx/frontend-app-ecommerce/pull/193> for
reference).

[2022-07-12 20:35] mphilbrick211 commented on #348
7/12/2022 - @mphilbrick211 to clean up

[2022-07-12 20:37] mphilbrick211 opened #363 "Translation Working Group Highlights"
https://docs.google.com/document/d/11N2QZkAp4Wzov4XUd4Ldi9gFiNPV2ycqBM25kBjI2FE/edit

[2022-07-12 20:38] mphilbrick211 opened #364 "Product Working Group Highlights"
Fill out content here: https://docs.google.com/document/d/15yj3U3DBWartkkFZxXoB017H6y1VkI8TkVM5fHQ4S4I/edit

[2022-07-12 20:39] mphilbrick211 opened #365 "Data Working Group Highlights"
Per the email on 6/28, please fill out Data WG content [here](https://docs.google.com/document/d/1pWw18s05GCJ_qyQ5gyr2WSpBy2cpuTjGX7VW5EnK2co/edit
).

---------------

tCRIL is working on an impact report for Open edX (for the last fiscal year). One of the sections will be focusing on our Community, and as such we want to highlight the great things the Working Groups are up to.

We're hoping that

[2022-07-12 20:41] mphilbrick211 opened #366 "BTR Working Group Highlights"
Per email on 6/28, please fill out content [here](https://docs.google.com/document/d/1VR8hxl7tY_Rcm6vSP1UuqZlG_UtwtXyhco7v9yJERXs/ed).

-----------------------

tCRIL is working on an impact report for Open edX (for the last fiscal year). One of the sections will be focusing on our Community, and as such we want to highlight the great things the Working Groups are up to.

We're hoping that you and

[2022-07-12 20:43] mphilbrick211 opened #367 "DEPR Woking Group Highlights"
Per the email on 6/28, please update content [here] (https://docs.google.com/document/d/1u4kgkP7l5Nv0AMRgQyisB86R3hB1zmnkpRE0Tu-Is9Y/edit).

---------------
tCRIL is working on an impact report for Open edX (for the last fiscal year). One of the sections will be focusing on our Community, and as such we want to highlight the great things the Working Groups are up to.

We're hoping that you and you

[2022-07-12 20:49] mphilbrick211 opened #368 "Frontend Working Group Highlights"
Per email on 6/28, please add content [here](https://docs.google.com/document/d/1u_uuPgMmF_M6J0LPE2LvuRdGCFSD4lsztVgb0eRwgQI/edit).

---------------

tCRIL is working on an impact report for Open edX (for the last fiscal year). One of the sections will be focusing on our Community, and as such we want to highlight the great things the Working Groups are up to.

We're hoping that you and your group

[2022-07-12 20:51] mphilbrick211 opened #369 "Core Contributor Profile - Maria"
[Profile on Maria Grimaldi](https://docs.google.com/document/d/1kGUrwR6Iys0Da_dChy3EGN2HaJQh1gUYZN9RI9ZjHs8/edit).

[2022-07-12 20:52] mphilbrick211 commented on #369
7/12/2022 - first draft complete.

[2022-07-12 20:53] mphilbrick211 opened #370 "Core Contributor Profile - Dean"

[2022-07-12 20:54] mphilbrick211 commented on #370
7/12/2022 - first draft in progress.

[2022-07-12 20:57] mphilbrick211 opened #371 "Open edX Conference Recap"
Data from Eden [here](https://docs.google.com/document/d/1pPPZU1woJQjLQZZAzuGgyXtgHGTnZKb4GHwKVIKC5y4/edit).

[2022-07-12 20:58] mphilbrick211 commented on #371
7/12/2022 - Michelle to clean up/organize info.

[2022-07-12 20:59] mphilbrick211 opened #372 "Open edX Event Highlights"
Info from Eden [here](https://docs.google.com/document/d/1pPPZU1woJQjLQZZAzuGgyXtgHGTnZKb4GHwKVIKC5y4/edit).

[2022-07-12 21:00] mphilbrick211 commented on #372
7/12/2022 - Michelle to clean/organize info.

[2022-07-12 21:00] mphilbrick211 opened #373 "Product Roadmap Highlights"
Please start compiling (or linking out to content) from [here](https://docs.google.com/document/d/1bqnmgo7Ee11YHx7Y_q8gZWjCroNRxiRjG2JFUl5oILk/edit).

[2022-07-12 21:02] mphilbrick211 opened #374 "Growing the Community"
- Projects we'd like the community to tackle
- Areas + communities looking for new members or help

[2022-07-12 21:03] mphilbrick211 opened #375 "tCRIL-funded initiatives (current + upcoming)"
tCRIL funded projects

[2022-07-12 21:04] mphilbrick211 opened #376 "Nutmeg Highlights?"
Link out to blog posts and release notes?

[2022-07-13 13:33] kdmccormick opened #377 "Make sure docs build is part of edx-platform CI"
`make docs` isn't tested in edx-platform PRs, but by some minor miracle, the docs build is still passing on master. I just reviewed a PR that would have broken the docs build if I hadn't thought to run `make docs` locally.

I bet it would be straightforward to add this check to PRs via GitHub Actions. If we don't do it ourselves, we should get this on Jeremy B's roadmap.

fyi @feanil because docs

[2022-07-13 14:54] arbrandes commented on #368
@mphilbrick211, had this as #357, but better to rally under yours. :)  Closing that one.

[2022-07-13 14:55] arbrandes commented on #357
Closing as duplicate of #368.

[2022-07-13 16:16] mphilbrick211 opened #378 "Organized Partner Strategy (Marketing WG) details"

[2022-07-13 16:18] mphilbrick211 opened #379 "Community Elections"
Progress update on Community Elections for impact report.

[Please put content here](https://docs.google.com/document/d/1OJFxHz-Yx5y8bjzuoIbVL8UgSHqBRLnsNNKZGRpSeIU/edit).

[2022-07-13 16:54] feanil commented on #278
I've reviewed all the spaces manually and removed any space admins that were individually named.  I think going down to individual pages is too much work and so we'll do that as needed but this should be sufficient to prevent most 2U people from putting content in the wrong place.

[2022-07-13 16:57] #278 closed

[2022-07-13 18:33] feanil commented on #346
The PR has been merged and Slack invites should work now.

[2022-07-14 15:09] ormsbee opened #380 "Help diagnose "missing structures" issue that may be losing Studio writes in Nutmeg."

[2022-07-14 16:44] arbrandes commented on #358
Update: Jeremy B. points us to Product@2U.  We should ask them in the next Product WG meeting, he suggests.

[2022-07-14 22:00] jmakowski1123 opened #381 "Prep steps to building documentation content infrastructure"
The goal is to get to a place where each persona and quandrant has a skeleton "table of contents" fleshed out. In other words, what content do we know we need to ensure a baseline, fully documented experience for educators, course operators, course admin, and developers.

The method is to crowd source these table of contents skeletons by eliciting community input, with 1) a public call to add titl

[2022-07-18 13:05] kdmccormick commented on #360
This issue is blocked on this step until 7/25

[2022-07-18 13:17] mbeljoi commented on #362
Hi, any news on this request?

[2022-07-18 14:52] feanil opened #382 "Make a small 5min video explaining what I've been working on."
Send the video to Sarina to show at the tCRIL demo meeting.

[2022-07-19 17:12] Yar0myr opened #383 "[GH Request] Onboard TheEarlyNerd"
### Firm Name

edX(2U)

### User List (case sensitive!)

Kaleb Davenport, TheEarlyNerd

### Start Date

July 26 2022

### Urgency

High, needed for d2d work

### Special Requests

_No response_

[2022-07-19 20:11] Yar0myr opened #384 "[GH Request] Onboard <danielkalen>"
### Firm Name

edX(2U)

### User List (case sensitive!)

Daniel Kalen, danielkalen

### Start Date

July 26 2022

### Urgency

High, needed for d2d work

### Special Requests

_No response_

[2022-07-19 21:25] nedbat commented on #384
Please note, this includes adding Daniel to the CLA database.  He is covered by the 2U entity agreement.

[2022-07-20 14:58] sarina commented on #362
Hi @mbeljoi - there's some technical stuff @caplan188 (I think) is working out between 2U and tCRIL. When that's figured out we will be able to proceed.

[2022-07-20 15:04] e0d commented on #384
@nedbat is this a one off or the start of a new process for CLA updates?

Also can you provide an email for Daniel?

[2022-07-20 15:05] sarina commented on #383
Blocked on https://github.com/openedx/tcril-engineering/issues/384 (want to understand process there)

[2022-07-20 18:28] hurtstotouchfire opened #385 "[GH Request] Offboard oliviaruizknott"
### Firm Name

2U

### User List

* [oliviaruizknott](https://github.com/oliviaruizknott)

### End Date

15 July 2022

### Urgency

moderate

### Retained Permissions & Special Requests

_No response_

[2022-07-21 07:59] e0d opened #386 "Cleanup references to oscm@edx.org and other misc. remaining edx references"
There are references to oscm@edx.org sprinkled throughout the org, we should update them to oscm@openedx.org

https://github.com/search?q=org%3Aopenedx+oscm%40edx.orgoscm@edx.org&tyoscm@edx.orgpe=code

Also there are a few items leftover from #42 :

### easier:

- [ ] `oscm@edx.org` -> `oscm@openedx.org`
- [ ] `uses: edx/.github` string should, in most cases (but not all) be `uses: openedx/.github

[2022-07-21 13:16] kdmccormick opened #387 "Update Coding Contributor Materials wiki page"
This page: https://openedx.atlassian.net/wiki/spaces/COMM/pages/1529675973/Coding+Contributors+Materials

has a few outdated references that should be updated/removed:

* > Respect edX’s right to modify and terminate the Committer program.

* > Required review:

* > The Committer program is currently in its Phase 2
* etc

[2022-07-21 13:50] sarina commented on #362
cc @e0d - we're trying to work through process here and right now are blocked.

[2022-07-21 13:51] sarina commented on #385
@hurtstotouchfire this is blocked on some process stuff. Also when filing tickets please replace the `ADD USERNAMES HERE` part of the title with the actual username(s)

[2022-07-21 15:23] nedbat commented on #384
This is not a new process, we are just trying to backfill some gaps while Matt Caplan tries to straighten out the real pipeline.  Daniel's email is dkalen@2u.com.

[2022-07-21 15:24] nedbat commented on #383
#384 is about a gap in the CLA database particularly.  Kaleb is already there, so no CLA changes are needed.

[2022-07-21 18:28] jristau1984 opened #388 "[GH Request] Onboard KristinAoki"
### Firm Name

2U

### User List (case sensitive!) - Please also include in ticket title

Kristin Aoki, GH Username: KristinAoki

### Start Date

25 July 2022

### Urgency

Medium Urgency (resolve in <one week)

### Special Requests

_No response_

[2022-07-21 19:53] jsoto2u opened #389 "[GH Request] Onboard zubair-ce07 asifbilal786 MaxFrank13 danielkalen varshamenon4 m-pitera"
### Firm Name

2U

### User List (case sensitive!) - Please also include in ticket title

danielkalen
zubair-ce07
asifbilal786
MaxFrank13
varshamenon4
m-pitera

### Start Date

07/21/2022

### Urgency

High Urgency as these users were not onboarded properly before, and are actively submitting PRs into this org

### Special Requests

This request is being submitted due to them being marked as exter

[2022-07-21 19:55] jsoto2u commented on #389
Want to clarify that when I say "not onboarded properly before", that is from the 2U side since it doesn't seem like a request ever came in from our end.

[2022-07-21 20:05] jsoto2u opened #390 "[GH Request] CLA list verification for whuang1202 bilaltahir21 TheEarlyNerd"
### Firm Name

2U

### Urgency

High Urgency

### Requested Change

These 3 users are in the org but from the Help Desk ticket received at 2U are still having issues being marked as external contributors.  Speaking with Natalia Berdnikov who submitted the ticket to us for example, Kaleb Davenport (TheEarlyNerd) apparently shows up as theearlynerd in the CLA list.

I don't know if this was addresse

[2022-07-21 20:50] nedbat commented on #338
I checked all the teams. I had to remove two ex-edX people who were still members of the frontend-app-publisher-admin team (Dillon Dumensil and Mike Terry).  Once I made that change, all the people with write or admin access are maintainers, bots, managers, or org-level admins, so the teams are fine as they are.

Thanks, and sorry for the delay.

[2022-07-21 20:59] sarina commented on #338
Thanks Ned!

[2022-07-21 20:59] #338 closed

[2022-07-21 21:02] nedbat commented on #339
I made one adjustment to the teams: for the frontend-app-payment and frontend-app-ecommerce repos, the "ecommerce" team had write access. I've removed that team from those repos.

Now the remaining teams write or admin access to maintainers, managers, bots, or org-level admins.  The teams are good as they are.

[2022-07-21 21:04] sarina commented on #339
Great, thanks for doing that checking Ned.

[2022-07-21 21:04] #339 closed

[2022-07-21 21:30] sarina commented on #385
Olivia has been removed from push-pull-all.

@e0d - if Olivia's CLA needs to be adjusted, please do so. Otherwise this ticket can be closed.

[2022-07-21 21:44] sarina commented on #388
Added Kristin to GitHub group.

@e0d if Kristin needs to be added to the CLA database, please do so.

[2022-07-22 14:45] #354 closed

[2022-07-22 18:44] kdmccormick commented on #347
Closed as a duplicate of https://github.com/overhangio/2u-tutor-adoption/issues/6

[2022-07-22 18:44] #347 closed

[2022-07-22 18:46] kdmccormick commented on #347
@Carlos-Muniz You can add Tutor issues directly to the tCRIL board by pasting just their URL into "Add item" :)
![image](https://user-images.githubusercontent.com/3628148/180503930-b4014c22-ebc6-47c4-9808-37427eaf6b46.png)

[2022-07-25 15:50] jmbowman opened #391 "[GH Request] Confluence FEDX space write access for Jeremy Bowman"
### Firm Name

2U

### Urgency

Medium Urgency - needed to properly locate new doc

### Problem/Request

Please grant me write permission to the Frontend Development (FEDX) space in Confluence.

### Reasoning

I'm starting a doc on proposed usage of GitHub labels to streamline frontend PR reviews.  I can probably work around this specific case by writing the doc elsewhere and asking someone else t

[2022-07-25 15:53] sarina commented on #391
@jmbowman - it's helpful if you can link to the space you're talking about - do you mean this space? https://openedx.atlassian.net/wiki/spaces/FEDX/overview

[2022-07-25 15:54] sarina commented on #391
oh n/m I see you did provide the shorthand. I got that for you.

[2022-07-25 16:00] sarina commented on #391
ugh, so I'd like to invoke @feanil here who's on vacation. We did a bunch of messing with space permissions and I think right now from what I can see the only people who have permissions to edit in this space is the tCRIL engineering team. Confluence permissions are janky and nesting so I don't want to mess this up - I'm not sure if we're intending this to be an archived space or one we want to op

[2022-07-25 16:44] timmc-edx opened #392 "[GH Request] Branch auto-delete on event-bus-kafka"
### Firm Name

2U

### Urgency

low -- indefinite timeline ("nice to have")

### Problem/Request

https://github.com/openedx/event-bus-kafka doesn't have the "delete branch automatically after PR is merged" option enabled, unlike most of the openedx repos. Could this be enabled?

(Ideally it would also be added to a checklist for repo creation, or one day we could have a bot enforce this...)

###

[2022-07-25 21:00] ormsbee commented on #392
Done

[2022-07-25 21:00] #392 closed

[2022-07-27 13:47] kdmccormick opened #393 "Forum badge for core contributors?"
These Forum Mod & Tutor Maintainer badges are cool:
![image](https://user-images.githubusercontent.com/3628148/181262865-89da1ba5-1b4d-4583-bb56-eb4960de4492.png)
![image](https://user-images.githubusercontent.com/3628148/181262907-efa64184-ff5b-4644-9a1e-55dfec796493.png)

Would it be hard to do the same thing for Core Contributors, and eventually Maintainers?

[2022-07-27 21:23] nedbat commented on #384
This has now been completed.

[2022-07-27 21:23] nedbat commented on #389
This has now been completed.

[2022-07-27 21:24] nedbat commented on #385
Olivia has been removed from the CLA database.

[2022-07-27 21:25] nedbat commented on #389
(Sorry about the close)...

These people have been added to the CLA database.

[2022-07-27 21:25] nedbat commented on #384
These people have now been added to the CLA database.

[2022-07-27 21:26] nedbat commented on #388
Kristin has now been added to the CLA database.

[2022-07-28 14:30] #385 closed

[2022-07-28 14:30] #388 closed

[2022-07-28 17:51] feanil commented on #391
@jmbowman since that space was already public, rather than giving you write permissions, I've matched the permissions to the COMM space.  This should give you the access you need but hopefully solving for the general case.  Please confirm that you have what you need or if the level of access you have is not sufficient.

[2022-07-28 19:47] #384 closed

[2022-07-28 19:48] #389 closed

[2022-07-29 19:43] robrap opened #394 "[GH Request] Create shared #event-bus Slack channel"
### Firm Name

2U

### Urgency

Medium

### Problem/Request

Please create an #event-bus channel in the Open edX Slack and send an invite to rraposa@edx.org to share the channel with the 2U Slack instance.

Thank you.

### Reasoning

@e0d noted that the community wants a way to be able to communicate with the 2U team working on the Event Bus, and we will be experimenting with Slack as a solution.

[2022-07-29 19:45] mphilbrick211 opened #395 "OEP-55 details"
Provide details/highlights on [OEP-55](https://open-edx-proposals.readthedocs.io/en/latest/processes/oep-0055-proc-project-maintainers.html).

[Please put content here](https://docs.google.com/document/d/1rdCdDJM6x5BOZxaoG3FP6oXJ1H8LRRCVJrYYyDfFl1Q/edit).

[2022-07-29 19:47] mphilbrick211 opened #396 "OEP-54 details"
Details/highlights from [OEP-54](https://open-edx-proposals.readthedocs.io/en/latest/processes/oep-0054-core-contributors.html) for impact report.

Please put [content here](https://docs.google.com/document/d/1cwP7uKI8wCqQSLiFDcRz4_yiwZ_RbhGwS0Rh4YSl5RU/edit).

[2022-08-01 13:53] jristau1984 opened #397 "[GH Request] Add edx_transifex_bot as administrator to frontend-app-discussions repo"
### Firm Name

2U

### Urgency

Medium Urgency (resolve in <one week)

### Requested Change

Our translation documentation directs us to add the user "edx_transifex_bot" as an administrator to the frontend-app-discussions repo in order for it to be able to merge unreviewed pull requests.

### Reasoning

Infinity team needs translations in the new discussions experience.

If this is still the appro

[2022-08-01 14:29] feanil opened #398 "Setup a pretty domain for Backstage"
The openedx backstage instance is deployed to heroku at https://open-edx-backstage.herokuapp.com/

AC:
- Update the app and relevant DNS so that this app is served from `https://backstage.openedx.org`

[2022-08-01 22:58] ormsbee commented on #397
@jristau1984: Added [edx-transifex-bot](https://github.com/edx-transifex-bot) (dashes, not underscores) to be admin on [frontend-app-discussions](https://github.com/openedx/frontend-app-discussions). Please let me know if something else was intended.

@Carlos-Muniz (as our translations expert): Does this seem correct to you?

[2022-08-02 13:54] robrap opened #399 "Confluence spam clean-up"
<img width="380" alt="Screen Shot 2022-08-02 at 9 52 51 AM" src="https://user-images.githubusercontent.com/14576445/182391885-71855b83-1654-4449-b134-8c44d277670e.png">

You'll find the above three pages of spam, from multiple users, in the left-hand nav when viewing https://openedx.atlassian.net/wiki/spaces/AC/overview?homepageId=7766132.  Please block these users and remove all their edits.

[2022-08-02 14:27] ormsbee commented on #397
@jristau1984: Would this work for you instead, or is there a definite need for admin-level rights for this user?

[2022-08-02 20:18] feanil opened #400 "Setup Slack/Discourse Integrations"
You can enable the discourse chat integration here: https://discuss.openedx.org/admin/site_settings/category/chat_integration

But we need to get the relevant slack credentials to set this up.

AC:
- The integration is enabled
- Any relevant people are trained on how to use it to integrate slack with discourse.

[2022-08-03 12:47] feanil opened #401 "Land the README ADR for Maintainers"
We need agreement on what should go into repo readmes.  Write an ADR that lays out the sections that must exist and provide a description of what each does.

As a part of this we should also update the cookiecutters to match the format described in the ADR.

- [ ] Get the README ADR landed
- [ ] Update the cookiecutter to match what's described in the ADR.

[2022-08-03 14:40] feanil commented on #399
@robrap on-call is not picking it up these tickets properlyproperly.  Are you making system requests or something else?
![image](https://user-images.githubusercontent.com/781561/182636508-fe217c32-d19d-40f6-8931-a9e7f62970fa.png)

[2022-08-03 14:41] feanil commented on #399
This should be all set. I've cleaned the pages this and other spam users created and revoked their access.

[2022-08-03 14:41] #399 closed

[2022-08-03 16:00] feanil commented on #391
Closing this for now, reach out if this didn't resolve the issue.

[2022-08-03 16:00] #391 closed

[2022-08-03 16:05] robrap commented on #399
@feanil: I even know what to do, but since I don't see "[GH Request]" in the title, I presume I clicked on the wrong one by mistake. I wonder if you should rename "tCRIL Engineering Task (tCRIL Internal - not for requests)" to "Internal-only tCRIL Engineering Task" or "Internal-only tCRIL Engineering Task (not for external requests)". Just a thought. Sorry about the confusion. Thanks.

[2022-08-04 15:33] robrap commented on #394
@ormsbee: Reminder ping. Thanks.

[2022-08-04 17:17] ormsbee commented on #394
@robrap: Thank you for the reminder. Created it and added you.

[2022-08-04 17:17] #394 closed

[2022-08-05 14:39] ormsbee commented on #397
@jristau1984: Based on Carlos's recommendations, I've removed edx-transifex-bot from frontend-app-discussions and instead given the edx-transifex-translations group write access to frontend-app-discussions. If this is insufficient, please re-open this ticket. Thank you!

[2022-08-05 17:29] #276 closed

[2022-08-08 13:45] #345 closed

[2022-08-08 14:06] jmakowski1123 opened #402 "Create a public message to circulate with clear instructions for input and examples"
Call to action for folks to help build persona "tables of contents" as next step in documentation process.

[2022-08-08 14:14] jmakowski1123 opened #403 "Reach out to a target group of folks 1:1"
Goal: Be able to assign 2-3 people for each persona (educator, course operator, course admin, developer) to build table of contents.

Ticket to track outreach and communications with folks who respond to/are interested in building the doc "table of contents"

- [x] Respond to inquiries/responses on the [forum post](https://discuss.openedx.org/t/call-for-help-with-documentation/8018/2)
- [x] Circul

[2022-08-08 14:24] jmakowski1123 commented on #403
Owner list:

Educator:

- [ ] John and Shannon - confirmed
- [ ] Mark - pending
- [ ] Hildy - pending

Course Operator:

Site Operator:

Developer:

[2022-08-08 14:41] kdmccormick opened #404 "OEP-57"

[2022-08-08 14:42] jmakowski1123 opened #405 "Translate MFE Discovery artifact into a prioritized Kanban Board"
This ticket has two associated tasks:

- [x] Take a pass through the MFE artifact and check the MFE WG prioritizations against product prioritizations
- [x] Transfer the google sheet to a Kanban Board - which will become the defacto MFE Roadmap

https://docs.google.com/spreadsheets/d/1zXBzPMrvRfz0VmygndqzN1qHSe95m6U0E-aNVwx00DA/edit#gid=0

[2022-08-08 15:35] ormsbee opened #406 "Review/support event bus work (2022-08-08 to 2022-08-19)"
2U is leading openedx-events work related to the event bus. This work is important for the long term extensibility of the platform, and tCRIL should support [arch discussions](https://github.com/openedx/openedx-events/issues?q=is%3Aopen+is%3Aissue+label%3Aevent-bus) related to it.

This is tracking for this work between 2022-08-08 and 2022-08-19.

[2022-08-08 17:35] e0d commented on #362
This was resolved some weeks back, can be closed.

[2022-08-08 17:36] e0d commented on #383
This was resolved some time back and can be close.

[2022-08-08 17:40] e0d commented on #390
Kaleb has two records, one with an individual CLA, one with the 2U CLA.  The individual CLA record had the wrong casing, I've disabled that temporarily.  This will be fixed in the next feed later today.

@Carlos-Muniz do you know whether having two entries with different cases would cause the CLA check to behave improperly?

[2022-08-08 18:31] feanil commented on #390
I looked at this with @Carlos-Muniz and having two entries should not cause any improper behavior.  The bot will pick up the version that matches the casing the username has on github so the other entry will be ignored.  It looks like everything is working as expected on our side, the PR from [before the proper casing](https://github.com/openedx/configuration/pull/6780) entry was added failed the

[2022-08-08 18:35] feanil opened #407 "Enforce CLA Check Everywhere"
The CLA checks gets run by the webhooks bot on any repo it has write access to, however, the check is not always required.  This means that it can be ignored even if it is failing.  People can bypass the CLA check and still merge.

* Do we want that or should we update our repos to better enforce the CLA check?

Example PR Where the CLA failed but the change was merged anyway: https://github.com/o

[2022-08-08 18:36] feanil commented on #407
@e0d, @Carlos-Muniz and I noticed this while we were investigating other CLA stuff.  This seems wrong but wanted to check in before we prioritized fixing it.

[2022-08-08 18:37] #383 closed

[2022-08-09 11:47] e0d opened #408 "Upgrade 3 Apps Using the Heroku 18 stack"
The apps in questions are:

[openedx-pr-watcher-notifier](https://dashboard.heroku.com/apps/openedx-pr-watcher-notifier) [Python](https://dashboard.heroku.com/apps/openedx-pr-watcher-notifier/settings) [heroku-18](https://dashboard.heroku.com/apps/openedx-pr-watcher-notifier/settings)

openedx-webhooks heroku-18

[openedxstats](https://dashboard.heroku.com/apps/openedxstats) [Python](https://dashb

[2022-08-09 14:13] #362 closed

[2022-08-09 16:32] nedbat commented on #407
If we do enforce the check, it will do two things which are probably good:
- Tool us up to make repo settings uniform across an org (or some other grouping of repos)
- Fix onboarding problems that keep entity-covered people out of the CLA database.

[2022-08-09 19:24] feanil commented on #360
@kdmccormick what's the status of this move, has it been un-blocked now?

[2022-08-09 19:30] feanil commented on #382
Made and sent to Sarina a while ago.

[2022-08-09 19:30] #382 closed

[2022-08-09 19:32] kdmccormick commented on #360
@feanil Yep, it's unblocked, I just haven't found time to make progress on it.

[2022-08-09 21:57] colinbrash opened #409 "[GH Request] Add members to ecommerce-maintainers team"
### Firm Name

2U

### Urgency

mid/high urgency

### Requested Change

Please add the following members to the ecommerce-maintainers team (https://github.com/orgs/openedx/teams/ecommerce-maintainers):

Moeez Zahid, @moeez96
Jawad Khan, @jawad-khan

Thanks,
Colin

### Reasoning

These team members are regularly working directly in the ecommerce repo and need write access.

[2022-08-10 02:28] #302 closed

[2022-08-10 14:35] feanil commented on #360
I've sent an e-mail to legal and am waiting to hear back.  I CC'ed you @kdmccormick.

[2022-08-10 14:57] feanil commented on #409
This should be all set.

[2022-08-10 14:57] #409 closed

[2022-08-10 16:37] Jawayria opened #410 "[GH Request] Need review and merge on the PR"
### Firm Name

2U

### Urgency

Medium

### Problem/Request

I need someone from tcril team to review and merge this PR.
https://github.com/openedx/tcril-onboarding/pull/29

### Reasoning

My team doesn't have permissions to approve or merge PRs on tcril-onboarding repository.

[2022-08-10 17:57] jmakowski1123 opened #411 "Assist 2U in rolling out Blockstore changes"

[2022-08-10 18:10] jmakowski1123 commented on #263
Noting this corresponds to 5a and 5c in the prioritized list: https://docs.google.com/spreadsheets/d/1zXBzPMrvRfz0VmygndqzN1qHSe95m6U0E-aNVwx00DA/edit#gid=0

[2022-08-10 18:42] jmakowski1123 commented on #193
The three remaining tasks have been transferred to the Product Working group and are being tracked in that project board. Closing this ticket in favor of shifting to the Product WG board to track and evolve the roadmap going forward.

[2022-08-10 18:42] #193 closed

[2022-08-10 18:53] feanil commented on #410
Left an initial review, waiting for your response and then I can do another round.

[2022-08-10 20:29] feanil commented on #390
@jsoto2u looks like all the people are in the list correctly now so it may just be a timing issue.  The CLA list is updated only once every 24hrs so it may just not have been filed on the 2U side early enough to be ready to go by the time the user is ready to submit contributions.

[2022-08-10 20:29] #390 closed

[2022-08-10 23:10] jmakowski1123 commented on #105
Will this be covered in the Table of Contents project? https://github.com/openedx/tcril-engineering/issues/381

[2022-08-10 23:11] jmakowski1123 commented on #179
Note to touch base with Marketing WG

[2022-08-11 11:38] sarina commented on #393
Nope. I'll note that you can only display one at a time, which is annoying when you hold multiple roles.

[2022-08-11 11:41] #4 closed

[2022-08-11 11:52] sarina commented on #100
Closing in favor of https://github.com/openedx/tcril-engineering/issues/407

[2022-08-11 11:52] #100 closed

[2022-08-11 11:55] sarina commented on #329
@feanil didn't you do this already?

[2022-08-11 11:56] sarina commented on #329
<img width="449" alt="image" src="https://user-images.githubusercontent.com/1985317/184128092-5ea50144-a5ca-4011-82aa-c4bf48867e72.png">

[2022-08-11 11:56] #329 closed

[2022-08-11 11:57] sarina commented on #353
This is done.

<img width="545" alt="image" src="https://user-images.githubusercontent.com/1985317/184128248-2de35fce-f1a1-4a82-95a6-05241682b0e5.png">

[2022-08-11 11:57] #353 closed

[2022-08-11 12:00] sarina commented on #386
What would you think about holding on this until we have maintainers, and then asking maintainers to update appropriately? I don't think, for example, the references on the configuration repo should go to us - what would we do with them?

[2022-08-11 12:05] sarina commented on #396
Hey @mphilbrick211 - I put this out to the team for review. I know Adolfo looked at it, and I asked Nell to take a pass. I'm not sure if you or Ed have taken a look. But as far as I'm concerned, this is done! I'll let you close the ticket when you agree.

[2022-08-11 13:38] brobro10000 opened #412 "[GH Request] Onboard Hamzah Ullah"
### Firm Name

tCRIL

### User List (case sensitive!) - Please also include in ticket title

Full Name: Hamzah Ullah
Github Username: brobro10000

Manager: Brian Beggs

### Start Date

Thursday August 11

### Urgency

Medium urgency - nonblocking but essential

### Special Requests

Since Brian is OOO till Friday, sending request myself as a new hire. Please reach out for any questions. Thanks.

[2022-08-11 19:17] arbrandes commented on #332
Done!  See https://github.com/openedx/tcril-interview-react-api.

[2022-08-11 19:17] #332 closed

[2022-08-15 13:26] macdiesel commented on #412
I approve of this addition.

[2022-08-15 13:41] feanil commented on #410
PR has been reviewed, approved and merged.

[2022-08-15 13:41] #410 closed

[2022-08-15 16:23] jmakowski1123 opened #413 "Build a roadmap/board that allows easy identification of upcoming monolith deprecations and their MFE replacements"
### Problem

There is too much of a lack of adherence to deprecation standards and it negatively impacts MFE workflows. In at least one case, a new MFE has replaced a pre-existing IDA without porting commonly used features.  This has to be avoided in the future. There is often a lack of awareness among any Open edX user who did not initiate the deprecation process and thus may not be aware that it

[2022-08-15 16:33] jristau1984 opened #414 "[GH Request] Kristin Aoki needs access to OPEN space of Openedx confluence"
### Firm Name

2U

### Urgency

Medium Urgency (resolve in <one week)

### Requested Change

Kristin Aoki needs access to OPEN space of Openedx confluence

### Reasoning

She is trying to access the OSPR review guidelines page, linked form our engineering pathways sheet.  She is getting a permissions error.

[2022-08-15 16:38] jmakowski1123 opened #415 "Improvements to the DEPR communication process"
### Problem

There is too much of a lack of adherence to deprecation standards and it negatively impacts MFE workflows. In at least one case, a new MFE has replaced a pre-existing IDA without porting commonly used features. This has to be avoided in the future. There is often a lack of awareness among any Open edX user who did not initiate the deprecation process and thus may not be aware that it

[2022-08-15 16:51] jristau1984 opened #416 "[GH Request] Onboard cablaa77 (Brad Brown) to openedx org"
### Firm Name

2U

### User List (case sensitive!) - Please also include in ticket title

* cablaa77

### Start Date

1 August 2022

### Urgency

Medium Urgency (resolve in <one week)

### Special Requests

_No response_

[2022-08-15 16:54] jmakowski1123 opened #417 "Develop a gated process for MFE replacements"
### Problem

There is too much of a lack of adherence to deprecation standards and it negatively impacts MFE workflows. In at least one case, a new MFE has replaced a pre-existing IDA without porting commonly used features. This has to be avoided in the future. There is often a lack of awareness among any Open edX user who did not initiate the deprecation process and thus may not be aware that it

[2022-08-15 17:08] jmakowski1123 opened #418 "Create a theming system that replaces comprehensive theming for the current Tutor-supported MFEs"
### Problem

The MFE theming and branding methods are not compatible with comprehensive theming.  “It was something that we all kind of agreed on and now we are completely ignoring it.” This has a direct and negative impact on provider clients, as each customer may require different branding and modifications.

### Product/Platform Value

Allowing for simple across-the-board theming and extensibil

[2022-08-15 17:11] jmakowski1123 opened #419 "Develop a plug-in system that closes the gaps where the custom theming system does not cover the extent of comprehensive theming flexibility"
### Problem

The MFE theming and branding methods are not compatible with comprehensive theming. “It was something that we all kind of agreed on and now we are completely ignoring it.” This has a direct and negative impact on provider clients, as each customer may require different branding and modifications.

### Product/Platform Value

Allowing for simple across-the-board theming and extensibili

[2022-08-15 17:20] jmakowski1123 opened #420 "Figure out a way to apply theme changes without requiring a full container rebuild"
### Problem

Theme changes occur often enough and for enough instances that for many Open edX providers, this can become cost-prohibitive in terms of CPU time.  (In one specific case: “1000 hours of compute time in an m5.large machine for building all of them”).

### Product/Platform Value

This furthers adoption, as it reduces the friction for providers that require custom theming, by reducing th

[2022-08-15 17:30] jmakowski1123 opened #421 "Discovery: Bundle size is a blocker to builds"
### Problem

Because each MFE is built completely separately, the LMS user has to download multiple bundles.  Bundles may contain different versions of React, for example, causing the user to have to download duplicate data.  Furthermore, the more MFEs are built, the less efficient this setup becomes.

### Product/Platform Value

A smaller total download translates into a snappier experience for e

[2022-08-15 17:32] jmakowski1123 opened #422 "Implement solution to bundle size"
### Problem

Because each MFE is built completely separately, the LMS user has to download multiple bundles. Bundles may contain different versions of React, for example, causing the user to have to download duplicate data. Furthermore, the more MFEs are built, the less efficient this setup becomes.

### Product/Platform Value

A smaller total download translates into a snappier experience for end

[2022-08-15 17:35] jmakowski1123 opened #423 "Bake Paragon into the comprehensive theming system"
### Problem

MFE authors are currently free to design UX as they see fit.  Even with the use of Paragon components as building blocks, this can potentially still lead to a lack of consistency between pages.

### Product/Platform Value

A consistent experience across the platform is expected of any modern application.  Not having one detracts from the presentation.

### Acceptance Criteria

UX libr

[2022-08-15 17:40] jmakowski1123 opened #424 "Create clearer UX guidelines"
### Problem

MFE authors are currently free to design UX as they see fit. Even with the use of Paragon components as building blocks, this can potentially still lead to a lack of consistency between pages.

### Product/Platform Value

A consistent experience across the platform is expected of any modern application. Not having one detracts from the presentation.

### Acceptance Criteria

### Relat

[2022-08-15 17:43] jmakowski1123 opened #425 "Build a service that provides configuration at run-time"
### Problem

Having to rebuild containers with every configuration change is very expensive; possibly even more so than with theming changes.

### Product/Platform Value

Dynamic image configuration enables platform use-cases that would not be practical otherwise.  One example is multi-tenancy.  Another is dynamic theming.

### Acceptance Criteria

While it would not be possible to do away with bu

[2022-08-15 17:50] jmakowski1123 opened #426 "Create standardized documentation guidelines for MFEs"
### Problem

This has always been an issue with edx-platform, but it has unfortunately not been fixed with MFEs: a sysadmin needs to read the code to find out how many features work, or what particular configuration settings actually do. Furthermore, some MFEs are better documented than others.  This makes it very difficult to streamline an upgrade pipeline, for example: one can never rely on docu

[2022-08-15 17:52] jmakowski1123 opened #427 "Create a gated process for MFE release that's contingent on a threshold met for documentation"
### Problem

This has always been an issue with edx-platform, but it has unfortunately not been fixed with MFEs: a sysadmin needs to read the code to find out how many features work, or what particular configuration settings actually do. Furthermore, some MFEs are better documented than others. This makes it very difficult to streamline an upgrade pipeline, for example: one can never rely on docum

[2022-08-15 18:06] jmakowski1123 opened #428 "Develop a centralized, canonical repository of MFE metadata"
### Problem

There is a distinct lack of central, official documentation on what MFEs exist, what purpose they serve, and on the ones that are in active development, what state of completion they’re in.

### Product/Platform Value

When solved, this would pave the way for increased platform adoption.

### Acceptance Criteria

Develop a centralized, canonical repository of MFE metadata that gets pr

[2022-08-15 18:08] jmakowski1123 opened #429 "To overwrite components, users should be able to fill pre-defined locations ("slots") in the user interface with their own content."
### Problem

For overwriting components, currently, one has to rely on either forking or module aliasing to achieve some form of extensibility, but this is clunky at best.

### Product/Platform Value

Like runtime configuration, a solution for customization would allow use-cases that are not currently possible with MFEs but are possible with Comprehensive Theming.  Feature parity here would greatl

[2022-08-15 18:10] jmakowski1123 opened #430 "Create a plug-in API to make it easier to modify or improve MFEs without forking"
### Problem

edx-platform already has plugins, and it has made development much better.  Some form of extensibility architecture should be created so that MFEs can be modified or improved without the necessity to fork them.

### Product/Platform Value

Like runtime configuration, a solution for customization would allow use-cases that are not currently possible with MFEs but are possible with Comp

[2022-08-15 18:11] ormsbee opened #431 "Create CloudFlare account for tCRIL"
In order to meet OFAC requirements, we want to use CloudFlare's WAF rules and block by `ip.geoip.country` and `ip.geoip.subdivision_1_iso_code` (for regions of Ukraine). Doing this would require having the "Business" plan for CloudFlare ($200/month).

The relevant excerpt from the [fields reference](https://developers.cloudflare.com/ruleset-engine/rules-language/fields/):

[2022-08-15 18:13] jmakowski1123 opened #432 "Standardize MFEs to reduce total complexity"
### Problem

Instead of one complex monolith, we now have several less-complex projects in addition to the big one we started with.  Plus, while less complex individually, MFEs are collectively harder to work with.

### Product/Platform Value

Reducing the cost of onboarding is also an important aspect of fostering adoption: the easier it is for providers to train their developers, the more use-ca

[2022-08-15 18:14] jmakowski1123 opened #433 "Upgrade react-intl in frontend-platform"
### Problem

The fact a very outdated version of react-intl is being used across the board makes it hard to implement i18n practically for consumers of frontend-platform and Paragon components.

### Product/Platform Value

This makes internationalization easier for both devleopers and translators, ultimately favoring adoption.

### Acceptance Criteria

### Related or in-progress work

This has alr

[2022-08-15 18:16] jmakowski1123 opened #434 "Discovery: Build or find a simpler alternative to Redux"
### Problem

The use of Redux is encouraged via frontend-platform, but given the size of most MFEs, it is likely overkill

### Product/Platform Value

Ultimately, this impacts adoption: the easier it is to develop new features, the more useful the platform will be.

### Acceptance Criteria

### Related or in-progress work

Opencraft has proposed [providence](https://gitlab.com/opencraft/dev/provid

[2022-08-15 18:18] jmakowski1123 opened #435 "Update the MFE Rewrite Status page"
### Problem

The [MFE rewrite status page](https://openedx.atlassian.net/wiki/spaces/FEDX/pages/1920270629/MFE+Rewrite+Status) hasn't been kept up to date. This contributes to confusion around which MFEs have been written and which have not, which are on deck, etc.

### Product/Platform Value

To better coordinate all work around MFEs, including continuing with the conversion, we need to have a cl

[2022-08-15 18:20] jmakowski1123 opened #436 "Complete the MFE conversion process"
### Problem

The micro-frontend project started 3 years ago, with the stated goal of migrating all of the Open edX user-facing pages to the MFE architecture.  While good progress has been made, there's still [a lot to do](https://openedx.atlassian.net/wiki/spaces/FEDX/pages/1920270629/MFE+Rewrite+Status). The amount of frontend-related technical debt in edx-platform hinders development of new feat

[2022-08-15 18:21] jmakowski1123 opened #437 "Micro-frontend replatforming (dependency deduplication, bundle splitting, performance optimization, module federation)"
### Problem

A more common architecture would be to build a mono-framework that, with module federation, still gives the development flexibility we see now, but more tight integration with the overall platform.

### Product/Platform Value

Sometimes called "MFEs 3.0", this significant rewrite would solve many of the problems listed here in one go: however, it would be a break with the current arch

[2022-08-15 18:22] jmakowski1123 opened #438 "Integrate newly converted MFEs into the comprehensive theming system"
Contingent on completing https://github.com/openedx/wg-frontend/issues/156

[2022-08-15 19:07] feanil commented on #414
I'll take a look at this, I would expect that space to be open to anyone in the community, if there are specific pages that she can't edit, links to them would be appreciated since Confluence permissions can vary down to the page.

[2022-08-15 19:08] feanil commented on #416
Invitation sent.

[2022-08-15 19:18] feanil commented on #401
Both of these are now done.

[2022-08-15 23:20] jristau1984 commented on #414
She is trying to access the OSPR review guidelines page, linked form our engineering pathways sheet.
https://openedx.atlassian.net/wiki/spaces/OPEN/pages/1916338440/OSPR+Review+Guidelines

[2022-08-17 17:04] maliyath opened #439 "[GH Request] Onboard BobTheBeef"
### Firm Name

2U

### User List (case sensitive!) - Please also include in ticket title

Bob LeBoeuf, bobthebeef

### Start Date

8/22/2022

### Urgency

Medium urgency - users first day is 8/22

### Special Requests

Membership in edx GitHub organization requested and its push-pull-all team [https://github.com/bobthebeef]

[2022-08-17 18:47] feanil commented on #439
Hello,

@maliyath you are not currently in the Open edX organization and I'm not sure what team you're representing.  Can you please identify yourself and provide more context on this request?

[2022-08-17 18:51] jsoto2u opened #440 "[GH Request] Onboard mzakaria1"
### Firm Name

2U

### User List (case sensitive!) - Please also include in ticket title

Full Name: M. Zakaria Nazir
Github Username: [mzakaria1](https://github.com/mzakaria1)

### Start Date

8/17/2022

### Urgency

Medium urgency - non blocking but essential due to 2U not properly onboarding on hire

### Special Requests

_No response_

[2022-08-17 18:56] feanil commented on #440
@jsoto2u you are not currently in the Open edX organization and I'm not sure what team you're representing. Can you please identify yourself and provide more context on this request?

[2022-08-17 19:55] jsoto2u commented on #440
I work at the 2U Help Desk, for Onboarding users to this org we were given the link below for this process since it's not one we directly manage.

https://github.com/openedx/tcril-engineering/issues/new/choose

M. Zakaria Nazir is a contractor who started with us on 7/13/2022.  As part of his new hire onboarding a request should have came in around that time to onboard him to this Github organizat

[2022-08-19 13:17] feanil commented on #431
@e0d I think you've done this at this point right?

[2022-08-19 13:29] e0d commented on #431
Yes, that's correct.  @ormsbee can you confirm:

- You have a required access to Cloudflare
- That the domains are correctly resolving, they seem right or thereabouts to me
  - https://training.openedx.org/
  - https://sandbox.openedx.org/

If all looks good, we can close.

[2022-08-19 14:20] natabene commented on #412
@feanil His PRs are still flagged as OSPRs, and I don't see him in the list.

[2022-08-19 20:09] bhrutledge opened #441 "[GH Request] Offboard Brian Rutledge"
### Firm Name

Open edX

### User List  (case sensitive!) - Please also include in ticket title

- Brian Rutledge, brian@energysage.com, not a member of the GitHub org

I joined the Open edX Confluence awhile back, and now I'd like to leave.

### End Date

n/a

### Urgency

Medium urgency - it's cluttering my work Atlassian instance

### Retained Permissions & Special Requests

_No response_

[2022-08-22 12:24] colinbrash opened #442 "[GH Request] Add to maintainers teams"
### Firm Name

2U

### Urgency

Mid/high urgency

### Requested Change

Please add

* Westley Russell, @wdrussell2015

to the following openedx teams:

* @openedx/ecommerce-maintainers
* @openedx/frontend-app-ecommerce-maintainers
* @openedx/frontend-app-payment-maintainers
* @openedx/ecommerce-worker-maintainers

### Reasoning

Westley is a new hire on the 2U Purchase Squad

[2022-08-22 20:05] arbrandes commented on #442
@colinbrash, this is done!

[2022-08-22 20:44] feanil commented on #41
This now exists: https://docs.openedx.org/en/latest/developers/quickstarts/setup_a_backend_dev_environment.html

[2022-08-22 20:44] #41 closed

[2022-08-23 13:03] feanil commented on #412
@natabene this is only for handling the github access, CLA requests have a different process that the 2U IT team is meant to take care of.  If the user is not in the CLA list, it's usually beacuse 2U IT has not filed the relevant requests to add them to the salesforce.

[2022-08-23 14:47] arbrandes commented on #439
Awaiting confirmation from George Babey [on Slack](https://openedx.slack.com/archives/C039VR9PDQ8/p1661265954575469).

[2022-08-23 14:48] arbrandes commented on #440
Awaiting confirmation from George Babey [on Slack](https://openedx.slack.com/archives/C039VR9PDQ8/p1661265954575469).

[2022-08-23 15:18] ormsbee opened #443 "Anonymous Courseware access broken in Nutmeg"
We've gotten [reports](https://discuss.openedx.org/t/anonymous-course-access-in-nutmeg/8061) that Anonymous courseware access is broken in Nutmeg, likely due to [this PR](https://github.com/openedx/edx-platform/pull/30001).

This ticket would include:

1. Fix the anonymous user handling, for the courseware API view.
2. Add new tests to make sure that this doesn't break again for anonymous users.
3

[2022-08-23 15:19] ormsbee commented on #443
FYI @jmakowski1123, @e0d, @kdmccormick

[2022-08-23 15:33] arbrandes commented on #439
Confirmed by George.  Invitation sent!

[2022-08-23 15:35] arbrandes commented on #440
Confirmed with George.  Invitation sent!

[2022-08-24 07:38] waheedahmed opened #444 "Change Authn Admin to Zainab on Github"
### Firm Name

2U

### Urgency

Deadline September 9th

### Requested Change

Add [Zainab](https://github.com/zainab-amir) into [frontend-app-authn-admin](https://github.com/orgs/openedx/teams/frontend-app-authn-admin) as admin and on all other places and invites.

### Reasoning

September 9th is my last day with 2U/edX, she will be replacing me for the lead position for the Vanguards.

[2022-08-25 10:19] saadyousafarbi commented on #397
Hello @ormsbee @Carlos-Muniz
Im reaching out on this issue as we are still facing issues with the `edx-transifex-bot` being unable to merge unreviewed Pull Requests into the `frontend-app-discussions` repo. The repo is setup to have a review on a PR, before it can be merged.
Can it be that the bot still requires to be added to `frontend-app-discussions` and given admin-level rights?
Let me know if

[2022-08-25 13:24] arbrandes commented on #444
Added to frontend-app-authn-admin team.  Is there anything else I should add them to?

[2022-08-25 15:08] maliyath opened #445 "[GH Request] Onboard zxcs001"
### Firm Name

2U

### User List (case sensitive!) - Please also include in ticket title

Yuchen Tu, @zxcs001

### Start Date

8/25/2022

### Urgency

Medium urgency - user needs Github access

### Special Requests

User is Yuchen Tu, github username is zxcs001

[2022-08-25 15:38] maliyath opened #446 "[GH Request] Onboard ashley3"
### Firm Name

2U

### User List (case sensitive!) - Please also include in ticket title

Ashley Smith, @ashley3

### Start Date

8/22/2022

### Urgency

High urgency

### Special Requests

Users name is Ashley Smith, email is asmith6@2u.com, github username is ashley3

[2022-08-26 13:23] jmakowski1123 commented on #418
In progress with Kshitij at OC

[2022-08-26 15:13] ormsbee commented on #397
@saadyousafarbi: Okay, I raised the permissions to admin. Please try again?

[2022-08-26 15:27] arbrandes commented on #445
User invited.

[2022-08-26 15:27] arbrandes commented on #446
User invited.

[2022-08-28 02:10] maliyath opened #447 "[GH Request] Offboard Jack Popiel"
### Firm Name

2U

### User List  (case sensitive!) - Please also include in ticket title

Jack Popiel

### End Date

8/27/2022

### Urgency

Low urgency

### Retained Permissions & Special Requests

Please remove termed user Jack Popiel from the Github openedx org

[2022-08-28 02:10] maliyath commented on #447
Users github username is The-Pope-2U

[2022-08-29 07:10] waheedahmed commented on #444
Thank you @arbrandes! No, I guess we are good to close.

[2022-08-29 13:45] jsoto2u commented on #412
@georgebabey Per what was discussed in the Slack thread for the CLA process going forward, Hamzah Ullah's email is hullah@2u.com to upload it into Salesforce.

[2022-08-29 13:53] natabene commented on #412
@brobro10000 Please reopen.

[2022-08-29 14:46] brobro10000 commented on #412
@natabene It will not allow me to reopen the ticket. I believe only @feanil  can reopen it at the moment

[2022-08-29 15:11] ashley3 opened #448 "[GH Request] Offboard noisecapella"
### Firm Name

2U

### User List  (case sensitive!) - Please also include in ticket title

noisecapella

### End Date

8/5/2022

### Urgency

Low urgency

### Retained Permissions & Special Requests

Please remove noisecapella from the Github openedx org

[2022-08-29 18:06] arbrandes commented on #412
@e0d, can you add them to the CLA database, please?

[2022-08-29 18:07] arbrandes commented on #416
Reopening.  @e0d, another one for the CLA.

[2022-08-29 18:07] arbrandes commented on #445
@e0d, please include in the CLA.

[2022-08-29 18:08] arbrandes commented on #446
@e0d, please include in the CLA.

[2022-08-29 18:08] arbrandes commented on #442
@e0d, can you please include this user in the CLA?

[2022-08-29 18:08] arbrandes commented on #440
@e0d, can you please include this user in the CLA?

[2022-08-29 18:08] arbrandes commented on #439
@e0d, can you please include this user in the CLA?

[2022-08-29 18:33] colinbrash opened #449 "[GH Request] Remove access to "maintainers" teams"
### Firm Name

2U

### Urgency

High urgency - users should no longer have access

### Requested Change

Please remove the following users:
* [Diane Kaplan](https://github.com/dianekaplan) @dianekaplan
* [Ben Holt](https://github.com/inventhouse) @inventhouse
* [Chris Pappas](https://github.com/christopappas) @christopappas

from the following teams:
* [ecommerce-maintainers](https://github.com/or

[2022-08-29 18:49] arbrandes commented on #449
They've all been from the openedx org.

@e0d, what's the offboarding process for the Salesforce database?

[2022-08-29 18:50] arbrandes commented on #448
They've been removed from the openedx org.  I'll close the issue once I know what the Salesforce offboarding process entails.

[2022-08-29 19:02] arbrandes commented on #447
I can't find the user in the openedx org.  Either somebody already removed them, or they were never in the organization.  In any case, I'm closing the issue.

[2022-08-29 19:02] #447 closed

[2022-08-29 20:28] e0d commented on #431
@ormsbee is this good to close?

[2022-08-29 20:35] e0d commented on #448
@arbrandes they've been removed from SF.

[2022-08-30 17:13] e0d opened #450 "Update our Heroku apps to ensure they continue to work"
Heroku is change their terms of service and this will affect applications that w run.

https://blog.heroku.com/next-chapter

I have requested that we are included in their open-source program, but it will be some time before we hear back.

From the support ticket:

[2022-09-01 15:56] saadyousafarbi commented on #397
Thanks @ormsbee
It is now working as expected!

[2022-09-02 13:48] Carlos-Muniz opened #451 "Update the Open Release Translation process documentation"

[2022-09-02 13:50] Carlos-Muniz commented on #451
Documentation was updated [here](https://openedx.atlassian.net/wiki/spaces/COMM/pages/19662426/Process+to+Create+an+Open+edX+Release#3.-Update-and-upload-translations-on-the-test-branch).
The new process uses Tutor instead of Devstack, and is only for the latest release (the one that needs to be updated occasionally). The process now uses the new version of the Transifex Client (V3), as the old ve

[2022-09-02 13:50] #451 closed

[2022-09-02 15:03] sarina commented on #30
@Carlos-Muniz is this something you have considered as part of your work? (I don't think it is, and I'm not trying to inject work - just curious)

[2022-09-02 15:10] sarina commented on #42
This seems pretty straightforward with the right script. want to confirm that no one's done this yet.

[2022-09-02 15:11] sarina commented on #85
this seems like it will fall out of the core product offering work, yes?

[2022-09-02 15:13] sarina commented on #27
@feanil @nedbat what do you think the priority of this is right now?

[2022-09-02 15:15] sarina commented on #29
I'm still not sure about the specifics of this ticket - iirc, this ticket was just a title with no description on the Decoupling board and I brought it over. I would defer to @e0d about what he meant by this

[2022-09-02 15:15] sarina commented on #29
Don't Github Actions run from the `openedx` account already?

[2022-09-02 15:20] sarina commented on #52
@jmakowski1123 I think this falls out of Core Product Offering - at least, it should be considered as part of that work.

fwiw we did pull in hooks & signals into the org. But we're not pulling in, say, Tutor.

[2022-09-02 15:22] sarina commented on #23
I would think @arbrandes should weigh in on this item's relative importance / size.

[2022-09-02 15:27] sarina commented on #352
What ever happened with this? I feel it should be considered as part of a whole with the overarching documentation philosophy.

This feels pretty low-importance to me - I periodically move pages into an Archived section when I find them outdated and not useful (rather than pushing the actual "Archive" button - I only recently got this permission). I'd rather focus on building out quality documenta

[2022-09-02 15:30] sarina commented on #30
one example: https://github.com/openedx/edx-platform/blob/master/conf/locale/en/LC_MESSAGES/django.po#L16033-L16069 - these strings only appear on pages related to edx financial assistance - they do not appear on any Open edX site. yet they're all sent to the same transifex resource for translating.

[2022-09-02 15:32] sarina commented on #30
fwiw this feels low priority after the work you're already doing. and it may actually be a lot easier after you've completed your work. I don't think this is _hugely_ prevalent, but other translators would know better than I. it also may be a benefit to the community if it makes it easier for other sites to define & translate custom strings.

[2022-09-02 15:36] sarina commented on #46
@jmakowski1123 I don't know what Pactflow is, I was just copying tickets from the private Decoupling board. Looks like @e0d opened this issue. I assume this is a tool that edX is using - I'm not sure if they need to use it within our org or what that would cost.

[2022-09-02 15:44] sarina commented on #393
I'm going to do this for Core Contributors. I'm mixed on "maintainers" because that is a much huger overhead for the few forum mods to have to maintain, and I'm not making 163 badges for each repo. Plus - you can only display one badge at once!

[2022-09-02 15:50] kdmccormick commented on #352
Pulling together a spreadsheet ended up being more work than I was willing to do without "officially" prioritizing this ticket through Jenna. I should have said that earlier but I didn't realize it until after this had fallen off my radar.

A lot of people look at the wiki. A lot of work happens on it. There's a lot of outdated & misleading info on it. We could leave it an organizational disaster

[2022-09-02 15:55] arbrandes commented on #23
I think doing this makes a lot of sense  I'll assign this to myself and do a little discovery on what kind of effort will be required.  (Hopefully it'll be pretty easy to do.)

[2022-09-02 15:56] kdmccormick commented on #29
While 99% of our GHA workflows are run on GitHub's hosted runners, edx-platform unit tests in particular are run on a special `edx-platform-runner` cluster, which is hosted by 2U. This speeds up tests and lowers our GH bill.

I *think* what @e0d is suggesting here is that we would host the `edx-platform-runner` cluster, not 2U.

[2022-09-02 16:00] kdmccormick commented on #393
Nice!

[2022-09-02 16:02] sarina commented on #393
![core contributor badge (1)](https://user-images.githubusercontent.com/1985317/188193817-46d5d818-e740-4c49-a0ef-17423de025b1.png)

[2022-09-02 16:03] kdmccormick commented on #393
Cute, I love it.

But will this replace our little company badges?

[2022-09-02 16:04] sarina commented on #393
The flair on the profile pic is associated with your email address, and only you can choose to remove it.

The "Tutor Maintainer" flair to the right of your pic is likewise something you can choose. Again - you can only choose 1.

[2022-09-02 16:05] sarina commented on #393
See how you have both the coffee cup AND the "tutor maintainer"?

[2022-09-02 16:19] kdmccormick commented on #393
Cool, got it.

[2022-09-06 15:15] sarina commented on #393
https://discuss.openedx.org/t/new-core-contributor-forums-badge-title/8221

[2022-09-06 16:26] #397 closed

[2022-09-06 16:34] feanil commented on #414
Making this page more publicly visible was more complicated than expected(tm) so I don't think there is much I can do on that front but any user who has an account should still be able to see it.

[2022-09-06 16:34] #414 closed

[2022-09-06 16:38] feanil commented on #360
From legal:

@kdmccormick I think this is unblocked now if you want to take it over, or I can get to it later this week.

[2022-09-06 16:41] kdmccormick commented on #360
I got it, thanks @feanil !

[2022-09-06 17:06] #448 closed

[2022-09-06 17:06] #449 closed

[2022-09-06 17:06] #446 closed

[2022-09-06 17:06] #445 closed

[2022-09-06 17:06] #444 closed

[2022-09-06 17:06] #442 closed

[2022-09-06 17:06] #440 closed

[2022-09-06 17:06] #439 closed

[2022-09-06 17:06] #416 closed

[2022-09-06 17:06] #412 closed

[2022-09-06 17:12] jristau1984 commented on #414
Thanks for looking into it, @feanil !

[2022-09-06 17:32] sarina opened #452 "[GH Request] Onboard bmtcril & brian-smith-tcril"
### Firm Name

tCRIL

### User List (case sensitive!) - Please also include in ticket title

* Brian Smith, @brian-smith-tcril
* Brian Mesick, @bmtcril

### Start Date

6 Sep 2022

### Urgency

Medium

### Special Requests

Brian & Brian should be added to a default tcril team that has base repos that we manage/maintain. That should be created if not already. The ones I can think of are

* tcril-e

[2022-09-06 17:42] kdmccormick commented on #452
* I invited both of them to the org and added them to https://github.com/orgs/openedx/teams/tcril-engineering
* Some of the mentioned repos were missing from the team so I added them in.
* I gave everyone on the team Admin permission on the `tcril-*` repos. For the rest of the repos, the team grants Write permission.

[2022-09-06 17:42] #452 closed

[2022-09-06 19:46] hurtstotouchfire opened #453 "[GH Request] Notify slack channel for OEPs"
### Firm Name

2u

### Urgency

low

### Problem/Request

Can some automation be added to the #open_edx_proposals slack channel to post when a new OEP goes live?

### Reasoning

We've just created a 2U internal process for ensuring that all OEPs get socialized, and it would be helpful to have a touchpoint in that channel as a reminder and conversation focus. We debated what would be the best trigg

[2022-09-06 20:53] e0d opened #454 "Three Heroku Projects running deprecated stack version"
The projects are:
- openedx-pr-watcher-notifier
- ~~openedx-webhooks~~ - Done along with some other maintenance.
- openedxstats

Some helpful links

https://help.heroku.com/X5OE6BCA/heroku-18-end-of-life-faq
https://devcenter.heroku.com/articles/upgrading-to-the-latest-stack

[2022-09-07 01:10] sarina commented on #42
I wrote a script to do this and will be running it as it seems to be working. Everyone will get tagged. Sorry not sorry

<img src="https://media4.giphy.com/media/rd4PovI7PgYw0/giphy.gif"/>

[2022-09-07 15:08] feanil commented on #27
It looks like the PyPI password was change and openedx no longer has access, we'll need the credential or need to work with someone at 2U to transfer ownership of various projects to a new user.  My understanding was that we would retain access to this user.

[2022-09-07 15:09] kdmccormick commented on #360
PR: https://github.com/openedx/django-require/pull/1

[2022-09-07 15:12] #360 closed

[2022-09-07 15:25] kdmccormick commented on #360
Added github.com/openedx/django-require to push-pull-all and added @jmbowman as a repo admin.

[2022-09-07 18:32] iobrien2u opened #455 "[GH Request] Onboard <bobthebeef> Bob LeBoeuf - bleboeuf@2u.com"
### Firm Name

2U Helpdesk

### User List (case sensitive!) - Please also include in ticket title

Bob LeBoeuf, bleboeuf@2u.com, is requesting Github edX-ops access so that
his team can continue provsioning him in that space. Username: @bobthebeef

### Start Date

07 September 2022

### Urgency

Urgent - Provisioning request from 8/22 New Hire. Bob's team needs him to have access so they can final

[2022-09-07 18:40] kdmccormick commented on #455
The edx-ops organization is managed by 2U.

[2022-09-07 18:40] #455 closed

[2022-09-07 19:12] #431 closed

[2022-09-07 19:13] sarina commented on #453
I think this might be a no-op? @feanil wrote in chat that the `#adr-notifications` channel (and the corresponding 2U channel that I can't see but mentioned in https://openedx.slack.com/archives/C1L370YTZ/p1662561365972059?thread_ts=1662492203.990519&cid=C1L370YTZ) is a stream of ADR and OEP notifications, which is probably pretty noisy.

Based on that discussion, @hurtstotouchfire do you still hav

[2022-09-07 19:13] ormsbee commented on #431
Yup, thank you!

[2022-09-07 19:52] sarina commented on #27
Is this something you think we should tackle by end of year? It would probably be a few hours of work?

[2022-09-07 20:21] kdmccormick commented on #289
Legal just cleared this, we're all good to change the license to Apache v2. @timmc-edx could you open a PR and tag me for review?

[2022-09-07 20:25] kdmccormick commented on #289
By the way, we'll still need to reach out to our legal counsel every time we change a repository's license, but the next time we change a repo from AGPL to Apache (if ever) should be much quicker now that we've laid the legal groundwork for that specific type of change.

[2022-09-08 13:56] feanil commented on #27
I think it's worth doing before the end of the year yes.  I think it will be less than a day if we can script it up, but may be more if it's manual.

[2022-09-08 13:58] sarina commented on #27
Makes sense.

@jmakowski1123 could we schedule this for early Oct, maybe?

[2022-09-08 19:00] kdmccormick commented on #404
Closed as dupe of https://github.com/openedx/open-edx-proposals/issues/295

[2022-09-08 19:00] #404 closed

[2022-09-09 12:44] timmc-edx commented on #289
Version 5.0.1 released under Apache 2. Thank you!

[2022-09-09 12:44] #289 closed

[2022-09-12 13:35] sarina commented on #433
@jmakowski1123 @arbrandes I assme this can be closed if Adam has already solved it

[2022-09-12 13:41] #396 closed

[2022-09-12 13:50] sarina commented on #42
note: messed a thing up, once all these are merged will need do one final pass for the `uses: edx/.github` string but on a new branch name.

[2022-09-12 16:31] #433 closed

[2022-09-12 17:18] jmakowski1123 commented on #423
Pre-grooming questions -

- Is there a list anywhere of inconsistencies that have been noticed and are possibly not owned? Brian noted today the lack of consistency in use of handler for enter buttons (https://github.com/openedx/frontend-app-library-authoring/pull/61#issuecomment-1243815717) as one example. Open question on approach as to whether we start with a top-down parameter for design, or a

[2022-09-12 17:41] #163 closed

[2022-09-12 17:41] #155 closed

[2022-09-12 18:16] maliyath opened #456 "[GH Request] Onboard ayeshoali"
### Firm Name

2U

### User List (case sensitive!) - Please also include in ticket title

Ayesha Waris, @ayeshoali

### Start Date

9/14/2022

### Urgency

Medium urgency

### Special Requests

_No response_

[2022-09-12 18:35] e0d commented on #456
@maliyath can you please provide their work email.

[2022-09-12 18:38] kdmccormick commented on #456
@georgebabey can you confirm that @maliyath is a 2U IT employee?

[2022-09-12 21:16] maliyath commented on #456
Hi,

Sure, their work email is ***@***.***

Best,

Maliyat

*Maliyat* *Hashin* | She/Her
IT Help Desk Associate
FL
Office: (301) 892-4350
***@***.*** <https://bit.ly/31YJPg1> | @edxonline
<https://bit.ly/3cnlmDa> | @Lifeat2U <https://bit.ly/3cda0BJ> | #NoBackRow
<https://bit.ly/3iBmIO3>*
Unlock your potential at edX.org <https://edx.org/> and 2u.com/careers/.
This message contains confidential inf

[2022-09-12 22:12] e0d commented on #456
@maliyath It looks like the email response to this ticket won't come through properly, can you add the email address to the ticket directly in GitHub?

[2022-09-12 22:14] kdmccormick opened #457 "[GH Request] Email address test"
### Firm Name

tCRIL

### Urgency

n/a

### Problem/Request

can I write an email in an issue?

kyle@tcril.org
bob@example.com
alice@gmail.com

### Reasoning

.

[2022-09-12 22:14] kdmccormick commented on #457
comment test:

frank@hotmail.com

[2022-09-12 22:14] #457 closed

[2022-09-13 02:19] maliyath commented on #456
@e0d Of course! Their work email is awaris@2u.com

[2022-09-13 18:41] e0d opened #458 "Archive RateXBlock and move it to openedx-unsupported"
[This repository ](https://github.com/openedx/RateXBlock) has been deprecated and is ready for removal to openedx-unsupported.

[2022-09-13 18:44] e0d commented on #458
@feanil any reason to wait to do this?  I believe references will be maintained as redirects.

[2022-09-13 19:50] jmbowman opened #459 "[GH Request] Offboard Jawayria"
### Firm Name

2U

### User List  (case sensitive!) - Please also include in ticket title

* Jawayria Hashmi, @Jawayria

### End Date

19 August, 2022

### Urgency

Medium urgency - response in the next week would be ideal

### Retained Permissions & Special Requests

_No response_

[2022-09-13 21:12] e0d commented on #459
I have remove them from the CLA file.

[2022-09-14 15:14] sarina opened #460 "Replace edx.readthedocs.io with new URL in repos"
As of Sep 2022, the readthedocs site has not been migrated. When it does, this replacement should happen. I am happy to do it.

@feanil keep me posted as to when this ticket needs to happen

ref: https://github.com/openedx/tcril-engineering/issues/42

[2022-09-14 15:29] georgebabey commented on #456
@kdmccormick Confirmed - thank you!

[2022-09-14 15:55] nedbat opened #461 "[GH Request] `christopappas` was incorrectly removed from teams"
### Firm Name

2U

### Urgency

In a day or two

### Requested Change

It looks like @arbrandes accidentally removed @christopappas from a number of teams while offboarding some people.
From [the audit log](https://github.com/organizations/openedx/settings/audit-log?q=action%3Ateam.create+action%3Ateam.destroy+action%3Ateam.add_member+action%3Ateam.remove_member+action%3Ateam.promote_maintainer+ac

[2022-09-14 16:07] arbrandes commented on #461
Hmm, I see what happened.  The original request (https://github.com/openedx/tcril-engineering/issues/449) mixed 2U departures with @christopappas, and I (mistakenly, of course) conflated them all.

[2022-09-14 16:15] e0d commented on #461
Chris was not removed from the CLA db.

[2022-09-14 17:52] jmbowman opened #462 "[GH Request] Onboard ishahroz & Mashal-m"
### Firm Name

2U

### User List (case sensitive!) - Please also include in ticket title

* Shahroz Amad, @ishahroz
* Mashal Malik, @Mashal-m

### Start Date

14 September 2022

### Urgency

Medium urgency - response in the next week would be ideal

### Special Requests

They should also be added to the @openedx/fed-bom team.  These are new Arbisoft contractors on that team.

[2022-09-14 19:20] kdmccormick commented on #461
I reinvited @christopappas with his original privileges. Once he accepts his invite I can remove him the teams mentioned in https://github.com/openedx/tcril-engineering/issues/449.

Glad to have you back Chris!

[2022-09-14 19:22] kdmccormick commented on #459
I removed them from the org. Wishing you all the best in your future work @jawayria.

[2022-09-14 19:22] #459 closed

[2022-09-14 19:24] kdmccormick commented on #456
Welcome @ayeshoali! You should see an email that invites you to the openedx org and adds you to the push-pull-all team.

[2022-09-14 19:24] #456 closed

[2022-09-14 19:27] kdmccormick commented on #462
Welcome @ishahroz and @mashal-m! You should each see an email that invites you to the openedx org and adds you your teams.

[2022-09-14 20:26] nedbat commented on #27
If we make a new openedx account to host the public docs, what happens to the URLs that are out there pointing to edx.readthedocs.io?  Can we redirect them globally? (If forget what readthedocs offers for redirections).

[2022-09-15 06:36] ayeshoali commented on #456
@kdmccormick Thank you, I have joined push-pull-all team.

[2022-09-15 15:52] feanil commented on #458
No, I think this is safe to do.  I took a look and it's never been published to PyPI so we don't need to do a final release or anything before we move this to unsupported.

[2022-09-15 16:58] #403 closed

[2022-09-15 16:59] jmakowski1123 commented on #405
complete: https://github.com/orgs/openedx/projects/29

[2022-09-15 16:59] #405 closed

[2022-09-15 17:00] #381 closed

[2022-09-15 18:09] nedbat commented on #27
Oops, mis-read!  PyPI ownership wouldn't be an issue, since it's not namespaced for users.  Sorry for the noise.

[2022-09-15 20:04] kdmccormick opened #463 "[GH Request] Move frontend-lib-special-exams into openedx org"
### Firm Name

2U & tCRIL

### Urgency

No urgency

### Problem/Request

Move frontend-lib-special-exams from the edx org into the openedx org

### Reasoning

https://github.com/edx/frontend-lib-special-exams is in the edx org.

https://github.com/openedx/frontend-app-learning, in the openedx org, has a non-optional dependency on it.

So, frontend-lib-special-exams should move into the openedx org

[2022-09-15 20:05] kdmccormick commented on #463
was flagged by @jmbowman in Slack: https://openedx.slack.com/archives/C039VR9PDQ8/p1663271357689889

[2022-09-16 16:00] kdmccormick commented on #271
Belated update: @e0d updated [OEP-51](https://open-edx-proposals.readthedocs.io/en/latest/best-practices/oep-0051-bp-conventional-commits.html#body) to disallow private links in commit messages unless explicitly marked with `Private-ref:` and messaged out the change.

This addresses the issue from a documentation angle, but I'm going to leave it open because we haven't checked whether there's been

[2022-09-19 13:00] feanil opened #464 "Setup Maintainer Teams for Repos in the Maintainer Pilot"
`<repo-name>-maintainers`

- Teams exists, membership matches the team that currently owns the repo.
- Teams have Write access to the repo.
- catalog-info.yaml files have been updated.

[2022-09-19 13:25] kdmccormick commented on #461
Chris has been removed from the ecommerce-related teams mentioned in #449

[2022-09-19 13:27] kdmccormick commented on #463
No objections to this from the team. We will need to ask Nell to amend the deal documents in order to allow for this transfer.

[2022-09-19 15:32] feanil commented on #464
Holding on this, because as I started doing this I realized that this may be a lot more work for teams later as they have to maintain all these newly created teams.  Discussing with the pilot participants in slack.

[2022-09-19 20:43] nedbat commented on #271
I started the linter, it's in a branch in repo-tools: https://github.com/openedx/repo-tools/tree/nedbat/private-link-linter.  This is my repo where I'm trying it as an action: https://github.com/nedbat/python-action-private-links/tree/pr2

[2022-09-20 14:18] jmbowman opened #465 "[GH Request] Onboard zubairshakoorarbisoft"
### Firm Name

2U

### User List (case sensitive!) - Please also include in ticket title

* Zubair Shkoor, zubairshakoorarbisoft

### Start Date

10 September 2022

### Urgency

Medium urgency - response in the next week would be ideal

### Special Requests

Zubair should also be added to the @openedx/arbi-bom team.

[2022-09-20 15:08] robrap opened #466 "[GH Request] Implement DEPR template change"
### Firm Name

2U

### Urgency

Low

### Problem/Request

We'd like to make improvements to the DEPR Github issue template based on the following comment from "Update OEP-21: Deprecation and Removal with more date guidance". See comment: https://github.com/openedx/open-edx-proposals/issues/333#issuecomment-1202979006

### Reasoning

Make it simpler to create DEPR issues.

[2022-09-20 15:14] sarina commented on #466
Unfortunately, these templates cannot be created in `.github` repo - they are on individual repos.

Would you like me to make PRs across all repos and then you can handle getting them merged?

[2022-09-20 15:15] sarina commented on #466
Ignore my previous comment, I think I'm wrong! Is there a reason you need us to do this? Could you make a PR to https://github.com/openedx/.github/blob/master/.github/ISSUE_TEMPLATE/depr-ticket.yml ?

[2022-09-20 19:02] robrap commented on #466
I learned about this after I created the ticket, and you supplied the link. For now we can close this ticket and start with a PR. Thanks.

[2022-09-20 19:02] #466 closed

[2022-09-20 22:54] jmakowski1123 commented on #418
May be a dupe of https://github.com/openedx/platform-roadmap/issues/144

[2022-09-21 12:21] ayeshoali commented on #456
@maliyath Hi, I have not received my credentials for work email.

[2022-09-21 17:25] feanil commented on #464
After talking through this with pilot attendees, we decided not to go through with this.  The maintenance burden of having 1 team per repo is pretty high and not worth the benefit of easily knowing what team to reference by mnemonic. The information will still be available via Backstage so no information is lost.

[2022-09-21 17:26] feanil commented on #464
To help alleviate the problem of not knowing what team name to put down in the owners section of a `catalog-info.yaml` file, we'll add more help text to the reference file before we close this ticket.

[2022-09-21 18:21] Carlos-Muniz commented on #465
Welcome @zubairshakoorarbisoft! You should see an email that invites you to the `openedx` org and adds you to the `openedx/push-pull-all` and `openedx/arbi-bom` teams.

[2022-09-21 18:21] #465 closed

[2022-09-22 00:47] sarina commented on #453
Hi,

Based on no response I'm going to close this issue. Please reopen if there's any new info.

[2022-09-22 00:47] #453 closed

[2022-09-23 12:57] hurtstotouchfire opened #467 "[GH Request] Move Learner Records MFE to openedx github org"
### Firm Name

2U

### Urgency

medium, would like to have for Olive

### Requested Change

Move https://github.com/edx/frontend-app-learner-record/ to the openedx org in preparation for including it in the next Open edX release.

### Reasoning

It will be disabled by default but I'd like to get it out there for people to try and to streamline contributions in case it's involved in the verified cr

[2022-09-23 14:39] bmtcril opened #468 "[GH Request] Brian Mesick org admin / Core Contributor access"
### Firm Name

tCRIL

### Urgency

Low urgency - next week or so

### Requested Change

I'd like the following Github permissions added to my bmtcril Github account:

- Org admin for openedx

- Coding cc rights on these individual repos
    code-annotations
    course-discovery
    data-wg
    edx-enterprise-data
    edx-platform
    event-bus-kafka
    tubular

- Coding cc rights on these repos,

[2022-09-23 15:41] feanil commented on #468
Super Nit(feel free to ignore if you disagree) but we've managed to generally use spaces or dashes for team names and I think we've used the shorthand of `cc` for contributor related team names so my suggestions would be `cc-analytics` and `cc-events` for the group names.

[2022-09-23 15:47] feanil commented on #468
Naming Feelings(feel free to ignore if you disagree): I think we've been prefixing things related to core contributors with `cc` and somehow have managed to name teams with either dashes or spaces instead of underscores so my suggestion for names would be `cc-analytics` and `cc-events` instead of the ones suggested in the ticket.

[2022-09-23 16:04] #464 closed

[2022-09-23 17:07] sarina opened #469 "repo license audit"
list repos and licenses including especially cases where there is none

[2022-09-23 17:10] sarina commented on #32
Closing this. This is more complicate than can be handled in one ticket. We've discussed strategies but ultimately 2U will have to drive this to an extent, because (per agreement terms) we cannot _make_ 2U become CCs (at least, with my definition that to be a CC, you can't be in push-pull-all; I believe that's not a unanimous take per talking with Xavier). I think this requires more groundwork con

[2022-09-23 17:10] #32 closed

[2022-09-23 17:39] bmtcril commented on #468
@feanil Makes sense to me

[2022-09-23 18:05] Carlos-Muniz commented on #468
Working on this now!

[2022-09-23 18:31] connollymj13 opened #470 "[GH Request] <ADD A REQUEST TITLE HERE>"
### Firm Name

tCRIL

### Urgency

Low Urgency

### Requested Change

Hi,

I am requesting that Shahroz Ahmad (username: ishahroz) be added to Arbisoft CLA.

### Reasoning

They are a new contractor who will be doing Maintenance and improvement of front end code used for [edx.org](https://edx.org/) (security patches, automating routine tasks, replacing legacy code, etc.)

[2022-09-23 18:32] Carlos-Muniz commented on #468
Thanks for the request @bmtcril
You have been added to the newly created @openedx/ccp-committer-bmtcril. In addition, two new teams @openedx/cc-analytics and @openedx/cc-events have been created, and you have been added to them. Lastly, you have been upgraded to "Owner" of the openedx org, which grants you Admin rights.

With great power comes great responsibility. Congratulations and best of luck

[2022-09-23 18:32] #468 closed

[2022-09-23 19:11] e0d commented on #470
Hello @connollymj13, I believe this position will be working on edX's FED BOM team, is that right?  If so, we will need 2U IT to make that request to add you on their behalf.  This is our standard process.  The 2U manager should be able to help with this.

@georgebabey

[2022-09-24 15:24] nedbat commented on #470
@connollymj13 to help others in the future, was there a page directing you to create this issue? We can add clarifications there.

[2022-09-24 15:59] sarina commented on #469
@e0d

Found 27 repos with license type 'no license'
Found 117 repos with license type 'AGPL-3.0'
Found 40 repos with license type 'Apache-2.0'
Found 6 repos with license type 'NOASSERTION'
Found 2 repos with license type 'BSD-3-Clause'
Found 4 repos with license type 'GPL-3.0'
Found 2 repos with license type 'MIT'
Found 1 repos with license type 'LGPL-3.0'
Found 1 repos with license type 'CC-BY-SA

[2022-09-24 15:59] #469 closed

[2022-09-26 13:11] Carlos-Muniz commented on #467
@hurtstotouchfire Thank you for the request. Due to the nature of this request, we are currently working with tCRIL legal counsel to make sure we go through the appropriate steps to transition the frontend-app-learner-record repository from the edx organization to the openedx organization.

[2022-09-26 15:40] sarina commented on #239
I believe we've set everything up properly, but the sandbox domain is not resolving. Just emailed Juan.

[2022-09-26 16:03] sarina commented on #42
87% of PRs are merged. Remaining 26 will be dealt with as part of the follow-up task #386

[2022-09-26 16:03] #42 closed

[2022-09-26 17:52] hurtstotouchfire commented on #467
@Carlos-Muniz How long do you expect this to take?

[2022-09-26 18:19] nedbat commented on #467
There are still edx-org repos in the Open edX releases. This repo doesn't have to move before Olive to be seen by the community.

[2022-09-27 13:47] colinbrash opened #471 "[GH Request] Please add @christopappas to maintainers teams"
### Firm Name

2U

### Urgency

mid/high urgency

### Requested Change

Please add Chris Pappas - @christopappas to the following teams:

* [ecommerce-maintainers](https://github.com/orgs/openedx/teams/ecommerce-maintainers)
* [ecommerce-worker-maintainers](https://github.com/orgs/openedx/teams/ecommerce-worker-maintainers)
* [frontend-app-ecommerce-maintainers](https://github.com/orgs/openedx/tea

[2022-09-27 14:02] feanil opened #472 "Get a Security Process OEP drafted and published for community review"
This is in progress but has long review cycles so it will be around for a few sprints.

[2022-09-27 14:10] hurtstotouchfire commented on #467
Ok, thanks @nedbat. FYI @Carlos-Muniz I do still want to move it sooner than later because right now it's not possible to include issues from this repo in our [workstream tracking board](https://github.com/orgs/openedx/projects/23) for Credentials.

[2022-09-27 14:46] Carlos-Muniz commented on #467
@hurtstotouchfire

Noted. Our legal counsel has compiled the required steps:

Can you confirm that 2U is intentionally submitting the [edx/frontend-app-learner-record](https://github.com/edx/frontend-app-learner-record/) repo code as a contribution to the Open edX public platform codebase under the existing 2U-tCRIL license and contribution agreements?

[2022-09-27 14:56] Carlos-Muniz commented on #471
Thanks for your request.

@christopappas you have been added to the teams mentioned above.

[2022-09-27 14:56] #471 closed

[2022-09-27 17:51] Carlos-Muniz commented on #467
@hurtstotouchfire Thanks, your confirmation here is sufficient.
Following [GitHub's guide to Transferring a repository owned by your organization](https://docs.github.com/en/repositories/creating-and-managing-repositories/transferring-a-repository#transferring-a-repository-owned-by-your-organization), could you please initiate the transfer from the edx org to the openedx org?

[2022-09-27 21:41] nedbat commented on #467
I can do it.  GitHub will ask me what teams should have access to the repo.

[2022-09-28 13:29] Carlos-Muniz commented on #467
@nedbat If you initiate the transfer, I can add this repo to the openedx/push-pull-all team

[2022-09-28 13:58] zainab-amir opened #473 "[GH Request] Onboard shahbaz-arbisoft"
### Firm Name

2U edX

### User List (case sensitive!) - Please also include in ticket title

* Shahbaz Shabbir, @shahbaz-arbisoft

### Start Date

28 September 2022

### Urgency

Medium

### Special Requests

Please add Shahbaz to the vanguards team in openedX as well.

[2022-09-28 15:08] nedbat commented on #467
@hurtstotouchfire also asks, "can you post in [#aperture-eng](https://edx-internal.slack.com/archives/CFRBDDGMN) (private link) when you’re going to transfer the mfe repo?"

[2022-09-28 15:13] nedbat commented on #467
@hurtstotouchfire @Carlos-Muniz I can add that team also, i just wasn't sure if there were other teams that needs particular access.  When we document how to move repos, we should note this step of figuring out the team access, which is a question GitHub asks the person doing the transfer, and they might not have that info at their fingertips.

[2022-09-28 17:36] feanil commented on #467
@nedbat I think we just need you to initiate the transfer and then we have documentation for the tCRIL person to do a bunch of things to accept the transfer.  I think we want to get away from having someone who is an admin in both orgs.

[2022-09-28 17:47] nedbat commented on #467
OK, so just for clarity, I should assign no teams to the new repo, and then tCRIL will fix it up, is that right?

[2022-09-28 18:08] georgebabey commented on #473
Approved!

[2022-09-28 18:11] Carlos-Muniz commented on #467
@nedbat That's right. The process from your side should be:
1) Request the transfer and confirm it
2) Initiate the transfer
3) Let us know which teams need access to this repo

tcril-oncall takes care of the rest :+1:

[2022-09-28 18:14] nedbat commented on #467
The repo is transfered.

[2022-09-28 18:17] Carlos-Muniz commented on #473
Thank you for the confirmation.
@shahbaz-arbisoft you have been added to the openedx github organization as well as the push-pull-all and vanguards teams.

[2022-09-28 18:17] #473 closed

[2022-09-28 18:24] Carlos-Muniz commented on #467
@hurtstotouchfire @nedbat
[frontend-app-learner-record](https://github.com/openedx/frontend-app-learner-record) is now part of openedx, and the push-pull-all team has been given write access to it.
You can let me know here, or in a new ticket if any other teams also need access to it.

[2022-09-28 18:24] #467 closed

[2022-09-28 18:27] Carlos-Muniz commented on #473
@e0d Can you add shahbaz-arbisoft to the CLA?

[2022-09-28 18:28] Carlos-Muniz commented on #465
@e0d Can you add zubairshakoorarbisoft to the CLA?

[2022-09-28 18:47] e0d commented on #465
I've updated their record, will be in the batch this afternoon.

[2022-09-28 18:47] e0d commented on #473
I've updated their record, will be in the batch this afternoon.

[2022-09-28 20:29] Carlos-Muniz commented on #288
Suggestions from @nedbat to get OEP-58 approved
- [ ] Find a repo, inform maintainer that they are the test repo, check the following plan with the maintainer
- [ ] Create workflow that generates the English translation file and pushes it into openedx-translations
- [ ] Setup new Transifex project attached to this repo with auto pull/push via the Transifex GitHub app and associated configuration
-

[2022-09-29 14:29] feanil opened #474 "Create tickets for outstanding maintainers pilot work"
* Maintainers are assigned their tickets
* There is a view that shows just the work maintainers need to do
* Communicate to pilot team
* Respond to feedback

Repos that Need tickets:
- frontend-app-authn
- XBlock
- xblock-sdk
- xblock-utils
- frontend-template-application
- docs.openedx.org
- frontend-app-library-authoring
- frontend-app-learner-record

Tickets they need
- Review and Update Readme

[2022-09-29 14:30] arbrandes opened #475 "Discovery: Reconcile Opencraft's work on MFE Theming with 2U initiatives"
Following from the UX stakeholder meeting (https://github.com/openedx/tcril-engineering/issues/477), make sure that OpenCraft (via Kshitij) and 2U stakeholders are discussing ways to reconcile each other's work on modular theming.

[2022-09-29 17:10] nsprenkle opened #476 "Request for "Projects" Space in Open edX Confluence"
As part of the 2U documentation strategy and desire to design more "in the open", we'd like to have a clear place to put project-related documents in the Open edX Confluence space. The desire is to have a clear space, high in the Confluence hierarchy, to reduce cognitive effort in authoring and placing these project documents.

Project document examples:
- Project briefs & planning
- Requirements

[2022-09-30 15:03] sarina commented on #468
@Carlos-Muniz were all steps of https://openedx.atlassian.net/wiki/spaces/COMM/pages/2810249408/Administering+a+CC+Committer+Onboarding+Runbook followed? just checking in because Brian didn't get an invite to Listaflow and I want to make sure the runbook steps are clear.

[2022-09-30 15:12] nedbat commented on #476
As a slightly different idea, what about a 2U space within the Open edX wiki, that could have team areas, etc.  Other firms could also have their own spaces if they wanted to be more transparent about their structure and activities.

[2022-09-30 15:23] feanil commented on #476
@nsprenkle 's idea fits well with how @jmakowski1123 is orgazining [the OEPM space](https://openedx.atlassian.net/wiki/spaces/OEPM/overview)  @nsprenkle what do you think of a page-tree per project under this space? Or under a `Projects` page in this space.

@nedbat that doesn't solve for team specific spaces but if there are teams who want to work in the open, I'm happy to discuss that as a separ

[2022-09-30 16:14] jmakowski1123 opened #477 "Kick off meeting with UX stakeholders"
Organize a meeting with stakeholders to discuss how to make UX decisions.  In particular, how it relates to https://github.com/openedx/tcril-engineering/issues/418 and Kshitij's ADRs (https://github.com/openedx/paragon/pull/1388 and https://github.com/openedx/frontend-platform/pull/351), as it has come to light that 2U is working on a potentially colliding solution.

Goals:

* To gather consensus

[2022-09-30 16:27] hurtstotouchfire opened #478 "Request for team spaces in confluence"
### Firm Name

2U

### Urgency

medium

### Problem/Request

We would like to be able to move pages with technical context and documentation related to services we maintain to the public wiki. Right now this content is in the 2U private wiki.

### Reasoning

This is rough content that doesn't quite fit into RTD or ADRs, it bridges repos, and it is frequently updated. Having a wiki space we are res

[2022-09-30 16:27] hurtstotouchfire commented on #476
I made a ticket for team spaces: https://github.com/openedx/tcril-engineering/issues/478

[2022-09-30 16:37] jmakowski1123 opened #479 "Discovery: What is the process to get a new language supported on an MFE?"
Put simply, find out how add a language (say, Esperanto) to MFEs.  This includes:

* The learner being able to select it from _somewhere_ (find out where)
* The deployer should be able to select it for inclusion in their instance
* The translator should be able to select that language for translation
* It should be possible to pull the translated strings back into the several components of the pla

[2022-09-30 17:12] Carlos-Muniz commented on #468
@sarina No, the original request only asks for GH permissions. I was not made aware through this ticket that I needed to run through the entire onboarding procedure.

[2022-09-30 17:21] sarina commented on #468
Ah. I had mentioned this in this comment: https://github.com/openedx/tcril-engineering/issues/468#issuecomment-1256315738 and it's in the on-call playbook. I think @bmtcril has done some of these things, could you two coordinate to get the rest done?

[2022-09-30 17:22] sarina commented on #468
Also let me know what we can do to make it clearer that a ticket asking for "Core Contributor access" needs to follow the CC onboarding playbook - I'd like to make this seamless for all.

[2022-09-30 17:49] feanil commented on #478
@hurtstotouchfire can you elaborate more on what would be in team spaces that you would not put in project spaces?

[2022-09-30 17:51] feanil commented on #478
I'm trying to understand what would go in these pages if there are already product/project spaces.

[2022-09-30 18:17] feanil opened #480 "Work with eduNext to fix sandbox preview and studio DNS"

[2022-09-30 20:29] e0d commented on #462
Per the email confirmation I have added them and they should be included in the next batch.

[2022-09-30 20:46] nedbat commented on #476
@feanil I'm not sure we're all using the word "space" in the same way. I meant the Confluence space concept: an area of the wiki that can have different permissions than other spaces. 2U people could be the admins of the space, and then it could be subdivided into team pages and subtrees.  Spaces are what provide the "XYZ" slug in URLs like https://openedx.atlassian.net/wiki/spaces/XYZ/pages/12345

[2022-10-03 14:25] feanil commented on #476
@nedbat gonna respond to your comment on https://github.com/openedx/tcril-engineering/issues/478 instead of here, since I want to address @nsprenkle's concers independently from team spaces concern that you and @hurtstotouchfire have brought up.

[2022-10-03 14:34] feanil commented on #478
@nedbat responding to https://github.com/openedx/tcril-engineering/issues/476#issuecomment-1264009723

I'm concerned about providing confluence concept of spaces for a couple of reasons:

* I'm not sure what the legal implications are of doing so specifically with 2U so I'd have to check with legal on that.
* Team spaces seem like an easy way to provide people with a dumping ground and not actuall

[2022-10-03 17:07] hurtstotouchfire commented on #478
I think you're right about the dumping ground concern, but with the content viewable by anyone, we could at least have accountability. Right now we just have Ned asking about particular pages that are appearing in the private 2U wiki but there isn't an obvious place for them in the current public hierarchy, and taking on creating a place for them or organizing the public spaces is generally out of

[2022-10-03 21:07] maliyath opened #481 "[GH Request] Onboard jfinkiels"
### Firm Name

2U

### User List (case sensitive!) - Please also include in ticket title

Jacqueline Finkielsztein @jfinkiels

### Start Date

10/3/2022

### Urgency

High urgency

### Special Requests

_No response_

[2022-10-04 12:05] eirikhanssen commented on #443
Hello,

I am joining this conversation with and behalf of my colleague Gabi who contacted you on e-mail.

When trying to access a course anonymously, we're experiencing this issue with Nutmeg installed using tutor v 14.0.4:

The page will display: There was an error loading this course.

We had tried to add the suggested following waffle flags in django for the following course:  course-v1:OsloMet

[2022-10-04 13:07] e0d commented on #463
@kdmccormick I'm going to assign this to you.

[2022-10-04 13:45] e0d commented on #481
@georgebabey can you confirm this is right?  I was not sure if this was meant to be an off-boarding ticket.

[2022-10-04 13:52] maliyath commented on #481
Hi, this was meant to be an onboarding ticket

[2022-10-04 15:01] e0d commented on #481
Group has been updated, CLA check will be updated this afternoon.

[2022-10-04 15:02] feanil commented on #480
Currently talking to cloudflare on https://support.cloudflare.com/hc/en-us/requests/2572099?page=1

[2022-10-04 15:02] e0d commented on #470
@nedbat I'm planning to close tomorrow unless there's an update.

[2022-10-04 15:57] sarina opened #482 "[GH Request] Offboard caplan188"
### Firm Name

2U

### User List  (case sensitive!) - Please also include in ticket title

Matt Caplan: caplan188

### End Date

?

### Urgency

High

### Retained Permissions & Special Requests

Matt Caplan has left 2U at some point in the past. I was just alerted to this.

I have taken care of his GitHub permissions already; I am not sure how we are currently handling CLA permissions. @e0d ?

[2022-10-04 16:59] sarina commented on #482
Ed says the CLA part has been done.

[2022-10-04 16:59] #482 closed

[2022-10-04 18:45] kdmccormick opened #483 "[Placeholder] Remove edx-platform's github.in"
Placeholder for use in an ADR. More details to come.

[2022-10-04 18:46] #483 closed

[2022-10-04 18:47] kdmccormick commented on #483
closed in favor of https://github.com/openedx/public-engineering/issues/162

[2022-10-05 10:47] nedbat opened #484 "[GH Request] Please give me admin access to openedx/nedbat-test-trigger"
### Firm Name

2U

### Urgency

Today please

### Requested Change

Please add me as an admin of https://github.com/openedx/nedbat-test-trigger

### Reasoning

I created this repo to test some repo topologies: https://github.com/openedx/nedbat-test-trigger

I was an owner of the openedx org when I made it, but I am not anymore.  I need to be added as an admin to the repo so I can continue the expe

[2022-10-05 11:55] nedbat commented on #470
@e0d looks like another kind of process friction.  I wanted to tag George on this issue, but can't, I guess because he's not in this repo?

[2022-10-05 13:09] e0d commented on #470
If you type out his handle it works, I'm not sure the root cause, but we
can add something to investigate.

On Wed, Oct 5, 2022 at 7:56 AM Ned Batchelder ***@***.***>
wrote:

[2022-10-05 13:26] nedbat commented on #470
@georgebabey (OK, I didn't know the handle, and tabbing even after typing it completely borks it...)

[2022-10-05 14:21] feanil opened #485 "Look into GitHub Temp Private Forks"
* **How do these work?**
  * Private forks are part of github's security advisory framework.
  * To make a private fork you must first make a security advisory.
  * The security advisory and fork are specific to a repo and accessible to repo admins by default.
  * Permissions to the fork are managed via the security advisory.
  * Any existing org team or member can be added to an advisory and thus

[2022-10-05 14:29] jmbowman commented on #470
He should have already been added to the CLA 5 days ago via https://github.com/openedx/tcril-engineering/issues/462 (which also hit some process issues along the way).

[2022-10-05 15:43] kdmccormick commented on #486
(Transferred this from platform-roadmap over to tcril-engineering since it's not really a deliverable Open edX epic)

[2022-10-05 18:47] e0d commented on #484
Done.

[2022-10-05 18:47] #484 closed

[2022-10-05 18:48] #481 closed

[2022-10-05 18:49] #462 closed

[2022-10-05 18:51] e0d commented on #470
Yes, he's already been added.  I'm going to close this, but it would be useful to have an answer to @nedbat 's original question in this issue.

[2022-10-05 18:51] #470 closed

[2022-10-05 19:02] e0d opened #487 "Add the ability to at mention 2U folks on Onboarding/Offboarding tickets"
It's a small point of friction that we cannot at mention the 2U folks who work on onboarding/offboarding requests.

This work is to fine the minimal set of permissions to this repo that will allow that.

[2022-10-06 12:40] ehuthmacher commented on #480
@feanil Any updates on this? If we don't have this resolved by Friday, you may have to think of a plan B. Potentially switching it back to the eduNEXT owned domain.

[2022-10-06 12:43] ehuthmacher commented on #480
Another option is also changing the domain address to avoid a second period, which is part of the issue.

[2022-10-06 16:11] maliyath opened #488 "[GH Request] Offboard multiple users who have been terminated from 2U"
### Firm Name

2U

### User List  (case sensitive!) - Please also include in ticket title

Users Name | github username

Abdurrahman Asad | A-ASAD
Alex Ye | alexander-ye
Brian Wilson | brianhw
Brian Mesick | bmtcril
Carlos Muniz | Carlos-Muniz
Dave Ormsbee | ormsbee
Debbie Jacob | debbiejacob
Dillon Dumesnil | Dillon-Dumesnil
Eden Huthmacher | ehuthmacher
Edward Zarecor | e0d
Feanil Patel | feanil

[2022-10-06 18:38] mphilbrick211 opened #489 "OSPR Auto-update sheet"
Hi Ed - this is to look into possibly having a spreadsheet that pulls in the OSPRs that need review (that Tim and I will triage). This would be based on the [sheet you created that pulled this info in](https://docs.google.com/spreadsheets/d/1wPZXIhT4xEgLDlujPqJLTnSN4svXL3Sl-AjQ3a0Tfh8/edit#gid=1764432321), the [sheet I created to do my initial run-through of the maintainer PRs](https://docs.google

[2022-10-06 19:06] e0d commented on #488
Several of the folks on your list have access via other affiliations with the project.  I've removed:

| Name | GitHub Username |
| ---------- | ---------------------- |
| Abdurrahman Asad | A-ASAD |
| Alex Ye | alexander-ye |
| Brian Wilson | brianhw |
| Debbie Jacob | debbiejacob |
| Dillon Dumesnil | Dillon-Dumesnil |
| Jazib Humayun | jazibhumayun |
| Julia Eskew | doctoryes |
| Long Lin | lon

[2022-10-06 19:07] #488 closed

[2022-10-06 19:20] feanil opened #490 "Define a Github User Audit Plan"
To keep the github org secure, it may be a good idea to do a regular audit of all the users in the org.  We should define an audit procedure and outlining what data we would need to collect and how we would go through this process.  In particular, we'll want to make the process clear for organizations we work with because they would likely have to participate in this to be able to validate which o

[2022-10-06 20:55] maliyath commented on #488
Hi, @e0d thank you for working on this. Does this mean the remaining users are unable to be offboarded from this instance of github?

[2022-10-06 20:58] e0d commented on #488
That's correct.  In case it's not clear, this instance of GitHub is not for 2U's exclusive use.  In some cases, folks who work here, say for tCRIL, formerly worked for edX/2U.  However, our entire community might access this instance if their work requires it.

[2022-10-07 13:55] sarina commented on #489
I could also use a similar data pull for a question I have (that I could not properly answer in Grimoire), of "which repos have community PRs and no CCs?"

[2022-10-07 14:42] maliyath opened #491 "[GH Request] Onboard <Mashal-m>"
### Firm Name

2U

### User List (case sensitive!) - Please also include in ticket title

Mashal Malik, @Mashal-m

### Start Date

9/20/2022

### Urgency

High urgency

### Special Requests

Please add them to the Arbisoft CLA

[2022-10-07 17:51] colinbrash opened #492 "[GH Request] Onboard Glenn Martin"
### Firm Name

2U

### User List (case sensitive!) - Please also include in ticket title

Glenn Martin, @grmartin

### Start Date

10/3/2022

### Urgency

mid/high urgency

### Special Requests

Please add to:

* [frontend-app-ecommerce-maintainers](https://github.com/orgs/openedx/teams/frontend-app-ecommerce-maintainers)
* [frontend-app-payment-maintainers](https://github.com/orgs/openedx/teams/f

[2022-10-11 07:39] maliyath commented on #439
Hi Feanil,

Most definitely! My name is Maliyat Hashin, from over on the IT
Helpdesk team at 2U. I am on the Provisioning sub-team where I setup
systems access for our new hires. Per following our documentation, it said
to submit a request for GitHub Open edX here using this link. The user I am
provisioning is Bob LeBouef, ***@***.***) who is an upcoming new hire
Engineering Manager who reports to

[2022-10-11 15:03] bcitro opened #493 "[GH Request] Onboard marlonkeating"
### Firm Name

2U

### User List (case sensitive!) - Please also include in ticket title

Marlon Keating, @marlonkeating

### Start Date

11 October 2022

### Urgency

High urgency, ASAP

### Special Requests

Please add Marlon to the following teams:

- https://github.com/orgs/openedx/teams/enterprise-quokkas
- https://github.com/orgs/openedx/teams/push-pull-all

[2022-10-11 17:52] georgebabey commented on #493
Confirmed..

Will follow up internally to determine why this came from the manager and not helpdesk

[2022-10-11 21:36] e0d commented on #493
They've:

- been invited to the org
- added to the requested teams
- added to the CRM

They'll be in the next batch from the CRM to GitHub for the CLA check.

[2022-10-11 21:42] e0d commented on #491
This person has access.

@georgebabey we typically add Aribsoft folks working for you under the 2U CLA as their contributions are on your behalf.  If that should change, see the "Special Instructions," let's discuss.

[2022-10-11 21:42] #491 closed

[2022-10-11 21:47] e0d commented on #492
He'll be added in the next CLA update batch.

[2022-10-11 21:57] nedbat commented on #478
I've refactored the Community space a bit to add an [Organizations](https://openedx.atlassian.net/wiki/spaces/COMM/pages/3552938880/Organizations) page, with initial children tCRIL and 2U.  Teams can be children of the organization pages.

[2022-10-11 22:03] nedbat commented on #366
Sorry I never responded on this.  It sounds like the time might be past?

[2022-10-11 23:51] maliyath commented on #488
@e0d Thank you for the clarification!

[2022-10-12 13:21] arbrandes commented on #475
There was an initial meeting to discuss this: see [meeting notes](https://openedx.atlassian.net/wiki/spaces/BPL/pages/3554115768/Runtime+theming+with+CSS+variables+and+design+tokens) for details.

Action items:

* Further conversation will take place in the [#paragon-working-group](https://openedx.slack.com/archives/CH298889G) Sloack channel.
* Adam will start whipping up a PR for an ADR, where fu

[2022-10-12 13:24] arbrandes commented on #477
The theming bits of this discussion happened in a specific meeting today: see https://github.com/openedx/tcril-engineering/issues/475 for details.

As for the general UX conversation, the ball is now on 2U's court to organize a place to do it.  Specifically, on Gabriel Weinberg.  See the [action items](https://openedx.atlassian.net/wiki/spaces/BPL/pages/3549954438/2022-10-05+Meeting+notes#%E2%9C%8

[2022-10-12 14:39] kdmccormick commented on #425
Once this complete, we will need to modify tutor-mfe to take advantage of the runtime configuration: https://github.com/overhangio/2u-tutor-adoption/issues/87

[2022-10-12 19:56] kdmccormick commented on #463
Update: I just reached out to our legal counsel about this.

[2022-10-12 20:27] nsprenkle commented on #476
@feanil , I could reasonably see putting projects under the existing https://openedx.atlassian.net/wiki/spaces/OEPM/overview space, with caveats.

It seems like the current space is "higher level" than the sorts of projects I'm thinking of (e.g. if we do "grading enhancements for ORA", I thinks "ORA" might be "Product" level but not the grading enhancements).

Proposing either 1) a "Projects" fold

[2022-10-12 21:07] e0d commented on #492
I've confirmed he's been successfully added to the CLA file.

[2022-10-12 21:07] #492 closed

[2022-10-12 21:07] e0d commented on #493
I've confirmed he's been added to the CLA file.

[2022-10-12 21:07] #493 closed

[2022-10-12 21:11] colinbrash commented on #492
@e0d thanks!  Would you please also add him to the teams listed?

[2022-10-12 21:13] e0d commented on #492
He has been @colinbrash , though it doesn't look as though he's accepted his invitation to the org.

[2022-10-12 21:28] colinbrash commented on #492
Ok, thank you!  I'll ping him to do that.

[2022-10-13 12:22] nedbat commented on #476
My idea is that the OEPM space is from the perspective of "Product owners," and represents roughly "what we plan to do and why".  A "projects" area is from the perspective of "engineering managers" and represents "what we are doing."  I know there is overlap and there are fuzzy boundaries....

[2022-10-13 16:56] arbrandes opened #494 "Find out which MFEs should be in Olive"
Investigate which MFEs should be included in Olive, from a product perspective with a technical feasibility in mind.

The BTR is tracking this question here:

- [x] https://github.com/openedx/build-test-release-wg/issues/200
- [ ] #495

[2022-10-13 16:58] arbrandes opened #495 "Create the roadmap issue(s) that will track the new MFEs in Olive"
The AC is to have product-oriented Roadmap tickets for each new MFE that include robust information about:

- Product scope and features included
- What features are deprecated
- Community release information

Tasks:

- [x] Create ticket shells
- [x] Coordinate with Ryan, Aamir, Spencer, Brad to get as much product documentation as possible

[2022-10-13 18:01] kdmccormick opened #496 "Rename the GitHub teams"
## Context

https://openedx.slack.com/archives/C03R320AFJP/p1665670166110739

Jeremy R:

Kyle:

We talked in standup and agreed this was a good idea.

## AC

* Write up a brief doc (on the wiki, or maybe an RST doc in the .github repo) describing new team naming conventions. Something like:
  * Prefix teams with the org they come from (e.g., `2u-`, `tcril-` etc) or their role to the openedx projec

[2022-10-14 14:42] maliyath commented on #481
Hi team -- following up here! User Jacqueline Finkielsztein no longer has access to this old account @jfinkiels, would you be able to remove her access and offboard her? She would like to be re-added using her new account @jackfinkiel

[2022-10-14 15:46] jmakowski1123 opened #497 "Draft text for OEP-58"

[2022-10-14 15:47] jmakowski1123 opened #498 "Create workflow that generates the English translation file and pushes it into openedx-translations"

[2022-10-14 15:47] jmakowski1123 opened #499 "Setup new Transifex project attached to this repo with auto pull/push via the Transifex GitHub app and associated configuration"

[2022-10-14 15:47] jmakowski1123 opened #500 "Create rough draft tool that will download the necessary translation files from openedx-translations into a locally cloned repo for a simulation deployment"

[2022-10-14 15:47] jmakowski1123 opened #501 "Open the OEP for review and feedback"

[2022-10-14 15:47] jmakowski1123 opened #502 "Integrate feedback"

[2022-10-14 15:58] e0d commented on #481
@maliyath I can do that.  I knew that Jacqueline has been focused on a small set of repositories focused on data and analytics in the past, do you have a a list of teams and or repos she needs access to?

[2022-10-14 17:18] Carlos-Muniz commented on #497
Text has been drafted and PR opened: https://github.com/openedx/open-edx-proposals

[2022-10-14 17:18] #497 closed

[2022-10-17 14:58] brian-smith-tcril commented on #430
I [left a comment](https://github.com/openedx/tcril-engineering/issues/429#issuecomment-1280996389) related to this on https://github.com/openedx/tcril-engineering/issues/429

tl;dr - what are people doing with comprehensive theming that we don't support in MFEs? can we support that by making paragon components more customizable? what should the dev/deployment flows for plugins look like?

[2022-10-17 15:01] Carlos-Muniz commented on #500
[openedx/code-annotations](https://github.com/openedx/code-annotations) is a CLI tool example.
[openedx/edx-cookiecutters python-template](https://github.com/openedx/edx-cookiecutters/tree/master/python-template) is a good place to get started for building a python package.

[2022-10-17 15:03] brian-smith-tcril commented on #434
This feels like something that should be addressed on an MFE by MFE basis to me. Some MFEs rely heavily on state management, in which case redux or a replacement makes sense. Some MFEs could probably just have Redux completely ripped out and still work with vanilla react state management.

Good next steps:
* Make a list of all the MFEs using redux
* Determine which MFEs *need* comprehensive state

[2022-10-17 15:06] brian-smith-tcril commented on #419
It's not clear to me how this differs from https://github.com/openedx/tcril-engineering/issues/430 and https://github.com/openedx/tcril-engineering/issues/429

[2022-10-17 16:24] arbrandes opened #503 "Re-organize the frontend development board"

[2022-10-17 16:27] arbrandes commented on #503
This is now done.

[2022-10-17 16:28] arbrandes opened #504 "Refine frontend tasks for sprint 2022-10-28"
Refine tasks for this sprint.

* [x] We're prioritizing the [Olive upgrade epic](https://github.com/overhangio/tutor-mfe/issues/67) and associated tasks this sprint.
* [x] The remaining [library authoring spring cleaning](https://github.com/openedx/frontend-app-library-authoring/issues/71) tasks.

[2022-10-17 17:59] arbrandes commented on #284
OpenCraft is going to revisit this in conversation with 2U about the latter's work on Design Tokens.

[2022-10-17 17:59] #284 closed

[2022-10-17 18:00] #368 closed

[2022-10-17 18:00] #344 closed

[2022-10-17 18:00] #285 closed

[2022-10-17 18:11] arbrandes opened #505 "Reviews for sprint 2022-10-28"
To review this sprint:

* [x] https://github.com/openedx/frontend-app-library-authoring/pull/61
* [x] https://github.com/openedx/frontend-app-library-authoring/pull/50
* [x] https://github.com/openedx/frontend-app-library-authoring/issues/70
* [x] https://github.com/openedx/frontend-app-library-authoring/pull/78
* [x] https://github.com/openedx/frontend-app-library-authoring/pull/79
* [x] https://

[2022-10-17 18:25] Carlos-Muniz commented on #288
- [ ] Change the name of the bot-user edx-transifex-bot to openedx-translations-bot

[2022-10-17 18:35] arbrandes commented on #419
@brian-smith-tcril, yeah, there's significant overlap.  For now, if you're interested in reading up on the main ideas for plugins, I would look at the "Related or in-progress work" in #429.

[2022-10-17 18:43] arbrandes commented on #434
@brian-smith-tcril, those are good ideas for next steps.  I would also suggest, if the list of MFEs that _don't_ need comprehensive state management is significant:

* Review light(er?) Redux alternatives, including Opencraft's [providence](https://gitlab.com/opencraft/dev/providence), and choose one to recommend.
* Write [an ADR](https://open-edx-proposals.readthedocs.io/en/latest/best-practices/

[2022-10-17 18:50] arbrandes commented on #429
@brian-smith-tcril

We're most definitely _not_ offering enough tools, which is the main motivation behind this issue.  Going with slots (or "holes") in the page is one way to improve that.  For instance, allowing deployers to fill them via iframes and the corresponding URLs set via environment configuration.  The purpose of this particular issue is to investigate this approach.

[2022-10-17 18:54] arbrandes commented on #430
@brian-smith-tcril

"Comprehensive theming" is essentially overriding templates server-side.  That allows for overriding basically _anything_ in a page.  People would (ab)use this to their heart's content.

When moving to micro-frontends, we lost this ability, and will likely never get it back completely.  The motivation here is precisely to find out how we can get to a place where 80% of the cust

[2022-10-17 19:04] arbrandes commented on #429
@brian-smith-tcril, also, I suggest taking a peek at my [State of the Frontend](https://openedx.org/video/the-state-of-the-open-edx-frontend/) talk given at the conference in the beginning of the year: it should give some context quickly on many of the things we want to do going forward.

[2022-10-17 19:08] brian-smith-tcril commented on #429
I think this would make more sense to me if I had an example. I have a few ideas for how slots could work and be implemented, but I don't have a full understanding of the problem they are trying to solve.

I think that looking at examples from users that have forked MFEs, as well as users that haven't moved over to MFEs due shortcomings in customizability compared to comprehensive theming would go

[2022-10-18 12:09] e0d commented on #458
There's a [PR](https://github.com/openedx/edx-platform/pull/31158) to remove from edx-platform, but it's blocked as there are courses with this XBlock in them.

[2022-10-18 12:20] e0d opened #506 "[GH Request] Allow outside collaborators to create and triage issues"
### Firm Name

tCRIL

### Urgency

Low Urgency

### Requested Change

I, @e0d , am managing this request, but creating a ticket to record the work.

We'd like RG staff working on the Credentials project to be able to create, edit, issues on the Credentials board as they begin development of the VC feature.

### Reasoning

Allow folks working on a domain to create and triage issues, ideally without

[2022-10-18 12:29] e0d commented on #506
https://docs.github.com/en/organizations/managing-access-to-your-organizations-repositories/adding-outside-collaborators-to-repositories-in-your-organization#:~:text=An%20outside%20collaborator%20is,like%20them%20to%20access.

[2022-10-18 12:36] e0d commented on #487
I believe that add folks directly to the repository in question -- teams work -- with the triage role is the right solution here.  We could manage a team with George, Ned, Jeremy B, etc. that have the triage role.

[2022-10-18 13:27] UsamaSadiq opened #507 "[GH Request] Need review on the reusable requirements upgrade workflow fix"
### Firm Name

2U

### Urgency

High Urgency - Its a blocker on all the requirements upgrade workflows across 2U/OpenEdx repos.

### Problem/Request

### Problem
- After the new release of `checkout@v2.5.0` the requirements upgrade PRs started failing in all repos.
- The error was able to be reproduced with replicating the if condition in a test [PR](https://github.com/openedx/edx-rest-api-client/

[2022-10-18 13:51] feanil commented on #398
We did this a while ago.

[2022-10-18 13:51] #398 closed

[2022-10-18 13:52] e0d commented on #481
@maliyath bumping this.

[2022-10-18 13:59] feanil commented on #507
Reviewed and merged.

[2022-10-18 13:59] #507 closed

[2022-10-18 14:26] arbrandes opened #508 "Review RacoonGang's i18n improvement ideas"
Review and comment on RacoonGang's thread on improving i18n for MFEs:

https://discuss.openedx.org/t/language-settings-unconsistency/8466

Schedule some time with stakeholders to discuss it synchronously, if necessary.

[2022-10-18 14:36] jristau1984 opened #509 "[GH Request] Onboard ayeshoali"
### Firm Name

2U

### User List (case sensitive!) - Please also include in ticket title

Ayesha Waris, ayeshoali

### Start Date

Oct 1, 2022

### Urgency

Medium Urgency (resolve in <one week)

### Special Requests

_No response_

[2022-10-18 14:53] arbrandes opened #510 "Review OpenCraft's proposal for sandboxes"
OpenCraft submitted a proposal for sandboxes based on Grove, to address https://github.com/openedx/frontend-wg/issues/135.

Doc: https://docs.google.com/document/d/1lDyfzgWRla2jYjltCubf4WEC4lz6vFY3bJ4aVLdK3HE/edit
Spreadsheet: https://docs.google.com/spreadsheets/d/1wc-mJiEvM-4_KHmMJpFXg86_4gfsf8dsSTnJIskw1mM/edit

Review these and get back to them.  Includes discussing with the team.

[2022-10-18 15:21] #499 closed

[2022-10-18 18:12] schenedx opened #511 "[GH Request] Move https://github.com/edx/frontend-lib-special-exams/ from edx org to openedx org"
### Firm Name

2U

### Urgency

Medium - At the end of the week because she is a software developer

### Requested Change

The repository https://github.com/edx/frontend-lib-special-exams/ is currently belonging to the edx org on github. After a conversation with Kyle, we believe this repository should be part of the openedx github org.
This ticket is to actually implement the move.

### Reasoning

[2022-10-18 18:24] #463 closed

[2022-10-18 18:31] #498 closed

[2022-10-18 19:45] arbrandes opened #512 "Find and groom epics for funded development"
Come up with a list of frontend epics and/or issues that could be funded by tCRIL for development.  The epics that have been (tentatively) picked are labeled as "candidate for funding" in the [Frontend Development board](https://github.com/orgs/openedx/projects/29/views/12).

[2022-10-18 20:11] kdmccormick commented on #511
Alright, tCRIL is OK to accept this repo as a contribution from 2U and move forward with the transfer 👍🏻

@jmbowman could you initiate the transfer from your side? I will make sure it the `push-pull-all` is given write access to it, and `masters-devs-cosmonauts` is given admin access to it.

[2022-10-18 20:48] jmakowski1123 commented on #495
Roadmap tickets here:

Discussions MFE: https://github.com/openedx/platform-roadmap/issues/106
Course Authoring MFE: https://github.com/openedx/platform-roadmap/issues/213
Authentication MFE: https://github.com/openedx/platform-roadmap/issues/214
Learner Record MFE: https://github.com/openedx/platform-roadmap/issues/215
ORA Grading MFE: https://github.com/openedx/platform-roadmap/issues/216

[2022-10-18 21:27] nsprenkle commented on #476
@jmakowski1123, yes, I think this is a great example. Like @nedbat said, I think there are fuzzy boundaries (e.g. my team also owns the broad concept of "grading" which overlaps with "ORA Grading" and others).

As long as we're okay with the idea of "product" being fuzzy and overlapping (for ideas like "Grading", "Course Listing Page Improvements", "Proctoring", etc.) this feels like a good place

[2022-10-19 15:00] arbrandes opened #513 "Review Maintainers Pilot Phase 2 proposed repos"
See:

https://openedx.atlassian.net/wiki/spaces/COMM/pages/3426844690/Maintainership+Pilot#Pilot-Phase-2

[2022-10-19 16:51] jmakowski1123 commented on #476
@nsprenkle I'm ok with the idea of "product" being fuzzy. I don't think we can avoid it tbh. I see what you mean with the Grading example.

Do you have a list of projects with documentation that you are in a position to share now? I'm happy to get some of the infrastructure pages built, based on what you have. You also have editing rights to create pages and nest projects within them, and please f

[2022-10-19 20:04] brian-smith-tcril opened #514 "BrowserStack Team Subscription"
It would be great to have access to a tool like [BrowserStack](https://www.browserstack.com/) for interactive testing of MFEs across multiple browsers.

It seems they offer free subscriptions of some sort for open source projects https://www.browserstack.com/open-source

If we don't qualify for that for one reason or another, it seems their team plan for 5 users (the minimum listed) is $125 a mont

[2022-10-19 21:43] e0d commented on #514
I've made the initial inquiry/request to be accepted into their program.

[2022-10-20 14:17] arbrandes commented on #434
@adamstankiewicz, that ADR is a great read.  As far as I'm concerned it can be used as both the definition of this issue and one possible solution - though the fact it's already used in production is a very good indicator it might be _the_ solution.

Thanks!

[2022-10-20 19:29] nsprenkle commented on #476
I currently have the following which I'd like to move over shortly:
1. ORAs (specifically, ORA improvements)
2. ORA Staff Grader
3. Team Assignments
4. XQueue

[2022-10-20 20:42] jmakowski1123 commented on #476
@nsprenkle I just threw together a skeleton pages, but feel free to adjust as you see fit! I put 1, 2, 3 as projects under ORA, and I created a "product" page for External Grader and put Xqueue as a project under that. If that doesn't make sense though, feel free to move it around. And for now, the product-level pages are just in alphabetical order, as they are sort of growing organically....

Whi

[2022-10-21 16:17] adamstankiewicz opened #515 "[GH Request] Move `browserslist-config` from edx GH org to openedx GH org"
### Firm Name

2U

### Urgency

Low urgency

### Problem/Request

The `browserslist-config` repository largely intends to define which browsers are officially supported across the Open edX  platform in a shared configuration that can be extended by any other repo (single source of truth): https://github.com/edx/browserslist-config

It currently lives in the `edx` Github organization.

### Reasonin

[2022-10-21 16:55] #504 closed

[2022-10-24 14:05] sarina commented on #515
@adamstankiewicz just ack'ing this - sorry I missed it Friday. I'll try to take a look today.

[2022-10-24 19:27] sarina commented on #515
Request is legit from my perspective. Next steps:

1. I need to consult with my legal team - I may need someone else at 2U verify this request is OK.
2. Once everything is in order, I will need to work with someone on your side who is a GitHub administrator to perform the transfer.

[2022-10-24 19:32] adamstankiewicz commented on #515
@sarina

1. Is there someone from 2U in particular you're looking to verify this request (e.g., manager approval)?
2. I have administrator rights to the repo so I believe I should be able to kick off the transfer once ready.

<img width="796" alt="image" src="https://user-images.githubusercontent.com/2828721/197610119-aa817bfa-fa2a-4f55-a382-e81e4330bc8a.png">

[2022-10-24 19:33] sarina commented on #515
re: 1 - I don't know, I'm checking now.
re: 2 - great! I'll coordinate with you!

[2022-10-24 19:46] sarina commented on #515
@adamstankiewicz we are good to go! I'm looking at https://docs.github.com/en/repositories/creating-and-managing-repositories/transferring-a-repository#transferring-a-repository-owned-by-your-organization and you should be able to click that transfer button to `openedx` and I'll approve it on my side.

[2022-10-24 19:47] sarina commented on #515
Also @adamstankiewicz could you specify which user group(s) should have write access to this repository? Generally 2U repos get put into `push-pull-all`, but you may have different requirements.

[2022-10-24 19:50] adamstankiewicz commented on #515
@sarina The `push-pull-all` user group makes sense for this repo.

Regarding the transfer:

<img width="1510" alt="image" src="https://user-images.githubusercontent.com/2828721/197613646-3a798d7c-8d6b-470f-92b9-3a93de292048.png">

Interesting. Apparently in order to transfer to another organization, you need permissions to create repos in that other organization?

[2022-10-24 19:53] sarina commented on #515
yeah, that's what I was super afraid of. it's a dumb restriction. let me consult legal again 😮‍💨

[2022-10-24 20:05] sarina commented on #515
Hey @adamstankiewicz - we need to follow this procedure: https://openedx.atlassian.net/wiki/spaces/COMM/pages/3438903337/On-call+Playbooks#%F0%9F%8F%97-Transferring-repositories-in-or-out-of-the-openedx-GitHub-organization

Since we'll need to do this synchronously, let's find a few minutes to do it together. Add 15m to my calendar here: https://calendly.com/sarina-tcril/15min?back=1&month=2022-10

[2022-10-24 20:10] adamstankiewicz commented on #515
@sarina Scheduled some time with you on your calendar for tomorrow afternoon; thanks!

[2022-10-25 17:39] sarina opened #516 "[GH Request] mphilbrick211, new OSPR PM CC, needs triage access"
### Firm Name

tCRIL

### Urgency

Medium

### Requested Change

The Project Manager will need [Triage Permissions](https://docs.github.com/en/organizations/managing-access-to-your-organizations-repositories/repository-roles-for-an-organization) on all repositories that are a part of the Open edX Platform, as the position requires the following abilities:

- Assign and remove labels

- Assign and

[2022-10-25 17:46] sarina commented on #516
@mphilbrick211 could you provide me a list of the repos you're currently looking at? I have to add the repos one-by-one and would rather start off giving you permissions to the ones that are going to be used the most.

[2022-10-25 18:40] sarina commented on #515
Transfer complete!

[2022-10-25 18:40] #515 closed

[2022-10-25 18:46] adamstankiewicz commented on #515
thanks again @sarina

[2022-10-25 18:54] mphilbrick211 commented on #516
blockstore
course-discovery
credentials
ecommerce
ecommerce-worker
frontend-app-ecommerce
frontend-app-payment
frontend-app-publisher
openedx-events
xblock-lti-consumer

[2022-10-25 19:06] sarina commented on #516
Thanks @mphilbrick211 !

I've granted you triage access on all those repos and edx-platform.

@feanil is working on automation to make sure you have triage access on _all_ repos, which should be ready next week. I'm going to hand this ticket to him. In the meantime if you need triage access to any other repo just ping on this ticket.

[2022-10-26 19:02] arbrandes commented on #430
This topic was discussed in today's Architecture Coordination Working Group [meeting](https://openedx.atlassian.net/wiki/spaces/COMM/pages/3562930177/2022-10-26+Arch+Coordination+Meeting+notes).

Looks like we might have/want to move this up.

[2022-10-26 19:09] arbrandes commented on #477
This was discussed again [today](https://openedx.atlassian.net/wiki/spaces/BPL/pages/3560472596/2022-10-26+Meeting+notes) in the PWG meeting.  Copy-pasting from the wiki page:

[2022-10-26 19:29] arbrandes commented on #494
Looks like [we want authn](https://github.com/openedx/build-test-release-wg/issues/200#issuecomment-1292530590), too.  So as of now, the list to aim for is:

* frontend-app-course-authoring
* frontend-app-ora-grading
* frontend-app-learner-record
* frontend-app-authn

[2022-10-27 15:51] feanil commented on #474
The pilot people all did the work before we could get to this so we didn't get to do this for that.  We can try again for the second phase of the pilot.

[2022-10-27 16:30] feanil commented on #407
I created https://github.com/openedx/terraform-github/pull/39 as a first stab at this.

[2022-10-27 17:08] nsprenkle commented on #476
@jmakowski1123 , we're working on figuring out what/how to do roadmapping so that's just a little further off.

For the actual movement of docs, I'm investigating tooling/workflows for exporting/importing pages so it's not a case of manually copy/pasting pages. Are you aware of any existing tooling/workflows to help with this?

[2022-10-28 12:07] jristau1984 commented on #509
Any word on this?  Ayesha is now blocked needing this access.

[2022-10-28 18:47] feanil opened #517 "Disconnect Openedx Atlassian from edX/2U Onelogin Saml"

[2022-10-28 18:47] feanil commented on #517
Related PRs:
* https://github.com/openedx/terraform-internal/pull/27
* https://github.com/openedx/terraform-internal/pull/28

[2022-10-28 18:47] #517 closed

[2022-10-28 20:13] feanil commented on #476
As far as I know, there is no easy way to move pages from one confluence domain to another.  Within a domain(openedx.atliassian..) it's easy enough but between say the 2U atlassian and the openedx one, I think the most reliable thing to do is to go into the edit mode and copy the content to a blank page on the openedx side.

[2022-10-31 12:02] asadali145 commented on #443
Hi, I was having a look into this issue and it seems like the above exception is actually fixed with the removal of the `ASSUME_ZERO_IF_ABSENT` waffle flag under https://github.com/openedx/edx-platform/pull/30978. Now it assumes zero grade by default. As a result of this PR, the issue mentioned above is resolved for anonymous users.

Currently, the course home is still not loading when the `MILEST

[2022-10-31 13:37] #505 closed

[2022-10-31 13:37] arbrandes opened #518 "Reviews for sprint 2022-11-11"
#### High priority

* [x] https://github.com/overhangio/tutor-mfe/pull/69
* [x] https://github.com/openedx/frontend-wg/issues/103
* [ ] https://github.com/overhangio/tutor-mfe/pull/62
* [ ] https://github.com/overhangio/tutor-mfe/issues/61

#### Unmerged from previous sprint

* [ ] https://github.com/openedx/edx-documentation/pull/2081 (waiting on CLA)
* [ ] https://github.com/openedx/frontend-pla

[2022-10-31 13:39] arbrandes opened #519 "Internal demo slides"
https://docs.google.com/presentation/d/1K-xvPX3VmrmtHmWdBG_4BwPwwORbn1lzanGaEC8j4tE/edit?usp=sharing

https://docs.google.com/document/d/1fP5dkcf46vdb8IcQi3K25n5W45iImZwkBWK17EctbQ4/edit

Sarina says:

"I spent 10 minutes on my slides. Please try to spend a similar amount. If everyone takes 5-6 minutes giving our presentations, we’ll fall in under time and have space for questions, so please plan

[2022-10-31 13:40] #519 closed

[2022-10-31 13:40] arbrandes opened #520 "Frontend project management for sprint 2022-11-11"
* [x] Fit [my tCRIL Engineering Tasks](https://github.com/orgs/openedx/projects/8/views/12) into next sprint
* [x] Frontend Development board management (spill over issues, checking which ones might be done, and if not, ask the assignee about the status)
* [x] Frontend product meeting with Jenna and Brian

[2022-10-31 17:05] arbrandes opened #521 "Discovery: Find out how a plugin system would benefit Glib's use case"
See the top of the ACWG's meeting notes:

https://openedx.atlassian.net/wiki/spaces/COMM/pages/3562930177/2022-10-26+Arch+Coordination+Meeting+notes

Also look at it from the perspective of it being a potential funding candidate.

[2022-10-31 18:27] nedbat opened #522 "[GH Request] Delete wiki spam"
### Firm Name

2U

### Urgency

No rush

### Problem/Request

This wiki page and its child should be deleted: https://openedx.atlassian.net/wiki/spaces/OEPM/pages/3564470399/Topics+for+Expository+Essay+for+High+School+and+College+Students

I'd do it, but I don't have delete permissions.

### Reasoning

It's spam.

[2022-10-31 18:58] arbrandes opened #523 "Document course-authoring features from product perspective"

[2022-10-31 20:20] #500 closed

[2022-10-31 20:26] bmtcril commented on #509
Sorry for the delay, I'm working on it now. It seems like they already have the permissions set, but I'm looking into the CLA database part of this.

[2022-10-31 20:30] bmtcril commented on #509
Should be all set, let me know if you run into any issues.

[2022-11-01 14:34] bmtcril commented on #522
Hey Ned! Sorry for the delay, it took me a bit to get permissions. By the time I got there it was 3 users and 11 pages, so I'll keep monitoring.

[2022-11-01 14:34] #522 closed

[2022-11-01 14:51] nedbat commented on #522
There's more: https://openedx.atlassian.net/wiki/spaces/OEPM/pages/3567485417/Tips+for+Using+Adjectives+in+a+Narrative+Essay+Guide+2022

If someone wants, we can talk about how to monitor for spam like this.

[2022-11-01 14:56] nedbat opened #524 "[GH Request] Am I still an admin on the openedx.org Wordpress instance?"
### Firm Name

2U

### Urgency

Low urgency

### Problem/Request

I have a login for openedx.org, username "ned".  It doesn't have rights to view https://openedx.org/wp-admin/ .  I don't know if it should.

I used to be able to see wp-admin, but that might have been under a different login (ned@edx.org?), I'm a bit confused about how many I had.

This is a two-fold request:
1. Should I still have

[2022-11-01 16:44] bmtcril commented on #522
I think I got all of those before I saw this one, but am monitoring the open spaces for anything new. If you want to grab me on slack about how to monitor more effectively I'd be happy to have that conversation.

[2022-11-01 17:48] feanil opened #525 "Give tcril engineers Atlassian Admin"

[2022-11-01 18:04] feanil commented on #407
We ran the script that was merged in with this PR: https://github.com/openedx/terraform-github/pull/39  We have a ticket for automating it to run regularly in the future.  https://github.com/openedx/terraform-github/issues/40

Closing this ticket as I think we've got leftover work tracked and the main concern here should not happen again for all the existing repos.

[2022-11-01 18:04] #407 closed

[2022-11-01 19:19] brian-smith-tcril commented on #479
document current process:
seems it's just (basing this on https://github.com/openedx/frontend-app-learning/blob/master/Makefile)
for each MFE
* `make extract_translations`
* `make push_translations`
* `make pull_translations`

automate extract process
* follow example of python from https://github.com/openedx/openedx-translations/blob/main/.github/workflows/extract-translation-source-files.yml
* c

[2022-11-01 20:30] e0d commented on #524
You are not currently an admin on the site.  I don't think you should still have admin access, but if you have a reason for needing it, let's discuss.  I believe this change was made during the decoupling work.

You may also recall that you changed the URL for the admin application to defeat script kiddie attacks :)

[2022-11-01 20:33] e0d commented on #514
I never heard back from them, but have resubmitted my request today.  Let's see.

[2022-11-01 21:15] e0d commented on #514
@brian-smith-tcril I just hear back.  We should discuss how/where we want to enable this.

[2022-11-02 04:06] feanil commented on #525
This is done: https://admin.atlassian.com/o/3989578f-a3e1-472d-a535-be32ae4fdd81/groups/cd54c79b-42df-4f98-bc0a-5d26b8c667e3

[2022-11-02 04:06] #525 closed

[2022-11-02 11:44] nedbat commented on #524
OK, it's not a problem to not have admin, i just wasn't sure if it was my fumbling preventing me from checking.

I changed the login URL, but I think /wp-admin is still the dashboard URL? Doesn't matter, I can't get to it :)

[2022-11-02 14:10] feanil commented on #516
Once https://github.com/openedx/terraform-github/pull/41 lands I should be able to give you triage access to all the public repos pretty quickly.

[2022-11-02 20:46] Carlos-Muniz opened #526 "Update edx-transifex-bot & i18n-tools to transifex client/api v3 before deprecation on 2022/11/30"
- [x] https://github.com/openedx/i18n-tools/issues/121
- [x] https://github.com/openedx/ecommerce-scripts/issues/197

[2022-11-03 13:07] #520 closed

[2022-11-03 14:04] nsprenkle commented on #476
@feanil , what sort of tooling did we use for the original wiki split then?

[2022-11-03 14:05] nsprenkle commented on #476
There's definitely a way to export existing pages as XML and, I think, installable tooling that will let that XML be reimported into another instance but I don't think this is available out of the box in vanilla Confluence.

[2022-11-03 15:42] feanil commented on #476
Yea, the original tooling was something IT setup and was more of a backend to backend copy than a useful end user tool.

[2022-11-03 17:50] nsprenkle commented on #476
Looks like there's a sys-admin-level space import option. Do we know folks who have this level of permissioning who could verify this exists on our instance?

Wondering if we can work through them to bulk import a bunch of our stuff into some holding space and then use the internal tools in Confluence to move those to their appropriate spaces... 🤔

[2022-11-04 00:33] adzuci opened #527 "[GH Request] Onboard farhanumar"
### Firm Name

2U

### User List (case sensitive!) - Please also include in ticket title

farhanumar

### Start Date

01 July 2022

### Urgency

Pretty high urgency, sorry we missed this months ago

### Special Requests

Please also add Farhan to https://github.com/orgs/openedx/teams/devops/members

[2022-11-04 13:14] bmtcril commented on #527
Hi @adzuci and @farhanumar! The invite has been sent out to the Github associated email address. It should include group permissions for:

- openedx/push-pull-all
- openedx/devops

@e0d Farhan should be ready to be added to the CLA database.

[2022-11-04 13:17] brian-smith-tcril commented on #479
## adding a new language

using https://github.com/openedx/frontend-app-library-authoring as an example:

update https://github.com/openedx/frontend-app-library-authoring/blob/88a4502b12269bbb4cb548eb6ce9bb840ba6b975/Makefile#L2 to have the new lang

??? do something in transifex ???

## extract translation files

`make extract_translations`

## get source strings into transifex

install transifex

[2022-11-04 13:20] brian-smith-tcril commented on #479
based on the commit message on https://github.com/openedx/openedx-translations/commit/33b6cd20509e3abdc1702c4bbbeaa3bb00978230

going forward we'll want to use https://github.com/openedx/openedx-translations/blob/main/transifex.yml instead of the transifex cli

[2022-11-04 13:34] Carlos-Muniz commented on #526
Both of these issues have already been taken care of and just were not documented. Notes about what was done and how it works will be made in https://github.com/openedx/docs.openedx.org/issues/132

[2022-11-04 13:34] #526 closed

[2022-11-04 13:37] e0d commented on #527
@adzuci can you please provide Farhan's full name?

[2022-11-04 14:19] adzuci commented on #527
His full name is Farhan Umer

[2022-11-04 17:44] feanil opened #528 "Propose a list of Repos for Phase 2 of the Maintainers Pilot"

[2022-11-06 14:28] arbrandes commented on #494
#### frontend-app-course-authoring

- [x] Minimal documentation: not present.  The README needs work.  Made [a PR](https://github.com/openedx/frontend-app-course-authoring/pull/381) to fix this, though.
- [x] Production readiness: In production at 2U.
- [x] i18n: Matches currently supported MFEs.
- [x] l10n: Matches currently supported MFEs.
- [x] a11y: Uses paragon extensively.
- [ ] Customizable

[2022-11-06 15:10] arbrandes commented on #494
#### frontend-app-discussions

- [ ] Minimal documentation: not present.  The README needs work.
- [ ] Production readiness: not in production anywhere.
- [x] i18n: Better than most currently supported MFEs.
- [x] l10n: Matches currently supported MFEs.
- [x] a11y: Uses paragon extensively.
- [x] Customizable header: uses frontend-component-header.
- [x] Customizable footer: uses frontend-componen

[2022-11-06 16:03] arbrandes commented on #494
#### frontend-app-ora-grading

- [x] Minimal documentation: present.  (There's even [a manual](https://edx.readthedocs.io/projects/edx-partner-course-staff/en/latest/exercises_tools/open_response_assessments/ORA_Staff_Grading.html#ora-staff-grading).)
- [x] Production readiness: in production at 2U.
- [x] i18n: Matches currently supported MFEs.
- [x] l10n: Matches currently supported MFEs.
- [x] a

[2022-11-06 16:29] arbrandes commented on #494
#### frontend-app-learner-record

- [x] Minimal documentation: present.
- [x] Production readiness: in production at 2U.
- [x] i18n: Matches currently supported MFEs.
- [ ] l10n: Only localized into Spanish.
- [x] a11y: Uses paragon extensively.
- [x] Customizable header: uses frontend-component-header.
- [x] Customizable footer: uses frontend-component-footer.
- [x] Branding module: imports brand

[2022-11-06 17:13] arbrandes commented on #494
#### frontend-app-authn

- [ ] Minimal documentation: not present.
- [x] Production readiness: reportedly in production at 2U.
- [x] i18n: Matches currently supported MFEs.
- [x] l10n: Matches currently supported MFEs.
- [x] a11y: Uses paragon extensively.
- N/A: Customizable header: doesn't have a header
- N/A: Customizable footer: doesn't have a footer
- [x] Branding module: imports brand-opened

[2022-11-06 18:12] arbrandes commented on #523
@jmakowski1123, take a look at the "Feature Description" subheadings in this file:

https://github.com/openedx/frontend-app-course-authoring/blob/1646e4ae2db1b5dae875f2f32a8c4d86dc174828/README.rst

This is out of a PR I made to the course-authoring README, which, as we discussed previously, I investigated as part of https://github.com/openedx/tcril-engineering/issues/494.

[2022-11-06 18:12] #523 closed

[2022-11-06 18:14] arbrandes commented on #494
The above findings were documented as a matrix here:

https://openedx.atlassian.net/wiki/spaces/COMM/pages/3571056752/Olive+MFE+Candidate+Requirements+Matrix

What's missing now is a decision by BTR on how to proceed, as none of them passed the bar fully.  Hopefully we'll have one by tomorrow.

[2022-11-06 18:26] arbrandes commented on #477
See conversation [in the forum](https://discuss.openedx.org/t/core-contributor-sprint-retro-15-october-31-october/8627/8?u=arbrandes).

[2022-11-07 13:36] arbrandes opened #529 "Module federation discovery SoW"
Develop an SoW that requests an initial discovery on https://github.com/openedx/tcril-engineering/issues/437:

"Do a first phase as discovery work with a design proposal as the output and see if we were happy and wanted to move forward.  I'd like to have enough detail to create an SOW pretty quickly.  What would we need to pull together?"

Spend roughly half-a-day on it.

- [x] https://github.com/

[2022-11-07 14:24] brian-smith-tcril commented on #479
looks like pulling down updated translations is automated (see https://github.com/openedx/frontend-app-account/pull/655), i'm not sure where this is being run from or where the code for it lives, my assumption is it's just running `make pull_translations` on each MFE but without seeing the code i cannot confirm

[2022-11-07 19:31] feanil opened #530 "Collect and Publish Repo-Health Data for All public Repositories"
The description of the story is available in [this comment](https://github.com/orgs/openedx/projects/55/views/1) of the story

[2022-11-07 20:15] arbrandes opened #531 "Frontend repo grouping and CC nominations"
1. Group frontends into [distinct named sections](https://docs.google.com/spreadsheets/d/1najLSdGPtU0D9NJxTSb0fOVmrdzMcxEC3BGFQ5x3Ty8/edit#gid=0)
2. Nominate Brian Smith as CC in them
3. Ask Brian to nominate me

[2022-11-07 20:16] arbrandes opened #532 "BTR meeting 2022-11-07"
https://openedx.atlassian.net/wiki/spaces/COMM/pages/3571908609/2022-11-07+BTR+Meeting+notes

What's missing before closing:

- [ ] Update the page with the meeting's action items

[2022-11-07 20:29] feanil opened #533 "Talk to Legal about what to do with CLA checks in the edX Org"
Right now the Open edX CLA gets checked on the edX org repos.  Does this makes sense? Do we need to do things?

[2022-11-07 20:30] nedbat commented on #533
This might touch on the question of how to move repos from edx to openedx in GitHub.

[2022-11-08 15:18] arbrandes commented on #494
See https://github.com/openedx/build-test-release-wg/issues/200#issuecomment-1307312733 for the conclusion.

[2022-11-08 15:18] #494 closed

[2022-11-08 15:20] arbrandes commented on #477
This will be kicked off today during the PWG meeting.

[2022-11-08 15:51] jristau1984 opened #534 "[GH Request] Move frontend-app-course-authoring to openedx org"
### Firm Name

2U

### Urgency

Medium Urgency (resolve in <one week)

### Requested Change

Move frontend-app-course-authoring to the openedx org.

### Reasoning

This MFE is needed by the new Discussions MFE and the new Text Editor in Studio.  Both are trying to get into the Olive release.

[2022-11-08 16:18] bmtcril commented on #534
Hi Jeremy, I'm on call this week so will likely be running this. Couple of things while I'm running this by internally to make sure we want to accept the request:

1. Can you explicitly confirm that 2U is intentionally submitting frontend-app-course-authoring's code as a contribution to the Open edX public platform codebase under the existing 2U-tCRIL license and contribution agreements?
2. Have y

[2022-11-08 18:23] jmakowski1123 commented on #477
@arbrandes Do these resonate with you as next steps from the meeting?

Next step: Identify a bounded project to experiment with pulling UX representatives into product working group. Might start with Discussions MFE. 1) Identify who on the UX side is most connected with UX decisions for that MFE and 2) Pull UX documentation into public (full notes here: https://openedx.atlassian.net/wiki/spaces/CO

[2022-11-08 21:34] alexrswan01 opened #535 "[GH Request] Onboard <fumer>"
### Firm Name

2U

### User List (case sensitive!) - Please also include in ticket title

*Farhan Umer, @farhanumar

### Start Date

11/9/2022

### Urgency

Urgent

### Special Requests

push or pull requests to the configuration repo

[2022-11-08 21:57] #527 closed

[2022-11-09 02:24] feanil commented on #485
Added comments inline based on my discovery so far.  @alangsto FYI

[2022-11-09 02:24] #485 closed

[2022-11-09 10:46] arbrandes commented on #477
Sounds exactly right!  I figure we can close this one and track next steps separately.

[2022-11-09 10:46] #477 closed

[2022-11-09 14:49] bmtcril commented on #535
Hi @georgebabey can you verify that this request is legitimate for us?

[2022-11-09 19:27] #524 closed

[2022-11-10 11:27] arbrandes commented on #521
This doesn't need my attention any more.  (It's already in progress, apparently.)

[2022-11-10 11:27] #521 closed

[2022-11-10 11:53] arbrandes opened #536 "Accompany work on i18n improvements frontend epic"
See https://github.com/openedx/platform-roadmap/issues/205.

To review:

- [x] https://github.com/openedx/tcril-engineering/issues/479
- [x] https://github.com/openedx/docs.openedx.org/issues/154

[2022-11-10 11:58] #518 closed

[2022-11-10 12:01] arbrandes opened #537 "Write initial draft of the Micro-frontend Domains OEP"
- [ ] https://github.com/openedx/open-edx-proposals/pull/410

[2022-11-10 12:03] #537 closed

[2022-11-10 18:45] feanil opened #538 "Improve the edx-platform Linting Experience"
The experience around working with the quality checks in edx-platform has a lot of issues:

- It's not clear how to run the quality checks locally.
- The text of pylint checks can be kind of opaque, can we improve this?

[2022-11-14 14:47] arbrandes opened #539 "Reviews for sprint 2022-11-25"
#### High priority

* [x] https://github.com/overhangio/tutor-mfe/pull/69
* [x] https://github.com/openedx/frontend-wg/issues/103
* [x] https://github.com/overhangio/tutor-mfe/pull/62
* [x] https://github.com/overhangio/tutor-mfe/issues/61
* [x] https://github.com/openedx/frontend-app-course-authoring/pull/389
* [ ] https://github.com/openedx/build-test-release-wg/issues/222
* [x] https://github.c

[2022-11-14 14:51] arbrandes commented on #529
The SoW is [in this Google doc](https://docs.google.com/document/d/19sz5E4FIdVKQ8mPgB6hZZHE-RfBF6Fgug03sUtXOOpg/edit).

[2022-11-14 15:13] matthugs opened #540 "[GH Request] add Arbisoft SRE folks to openedx admin team"
### Firm Name

2U/edX

### Urgency

medium urgency, blocking sprint progress

### Requested Change

Please add [Farhan Umar](https://github.com/farhanumar) and [Nicholas Moy](https://github.com/ohnickmoy) to https://github.com/orgs/openedx/teams/edx-admin/members.

### Reasoning

Both of these users are members of the PSRE team inside of OCM/edX/2U, and should have administrative access to all pus

[2022-11-14 15:40] schenedx opened #541 "[GH Request] Onboard chennighan2u"
### Firm Name

2U

### User List (case sensitive!) - Please also include in ticket title

chennighan2u

### Start Date

Nov 14, 2022

### Urgency

Medium - At the end of the week because he is a software development intern

### Special Requests

_No response_

[2022-11-14 17:59] ormsbee commented on #541
@chennighan2u has been invited to the openedx org and added as a member of push-pull-all.

Tagging @e0d for the CLA check database.

[2022-11-14 18:27] e0d commented on #541
@schenedx Can you please provide their first and last name?

[2022-11-14 18:39] chennighan2u commented on #541
Chris Hennighan

On Mon, Nov 14, 2022 at 1:27 PM Edward Zarecor ***@***.***>
wrote:

[2022-11-14 18:50] e0d commented on #541
Added, will be in this afternoon's batch.

[2022-11-14 19:47] e0d commented on #450
Latest correspondance.

[2022-11-14 19:57] e0d commented on #450
Here are our current apps:

[openedx-backstage](https://dashboard.heroku.com/apps/openedx-backstage)
[openedx-pr-watcher-notifier](https://dashboard.heroku.com/apps/openedx-pr-watcher-notifier)
[openedx-slack-invite](https://dashboard.heroku.com/apps/openedx-slack-invite)
 [ openedx-webhooks 2 apps](https://dashboard.heroku.com/pipelines/aa81fee7-dfdc-4ad2-ad8e-ef8ee0e389a0)
[openedxstats](https:/